
/* General css */
.box-img-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.box-img-flex.y-img-left {
    justify-content: flex-start;
}

.box-img-flex img {
    width: auto !important;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.y-box-img {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}
.y-box-img .link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.y-box-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    height: auto !important;
}
.y-box-zoom {
    transition: all 1s;
    width: 100%;
    height: 100%;
    position: absolute;
}
.y-box-zoom:hover {
    transform: scale(1.2);
}


/* CSS menu mobile */
.y-mobile-menu {
    width: 85%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -85%;
    background-color: #f3f3f3;
    box-sizing: border-box;
    font-size: 14px;
    transition: .2s;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999;
}

.y-mobile-menu.show {
    left: 0;
}

.m-menu__title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, .5);
}

.m-menu__title h5 {
    font-size: 14px;
    margin: 0;
    text-align: center;
    width: 100%;
}

.m-menu__title .m-menu-close {
    padding: 0;
    font-size: 26px;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 22px;
    text-decoration: none;
    color: #111;
    transform: translateY(-50%) rotate(45deg);
    position: absolute;
    top: 50%;
    right: 8px;
}

.y-mobile-menu ul {
    margin: 0;
    padding-left: 0;
}

.y-mobile-menu li {
    position: relative;
    list-style-type: none;
}

.y-mobile-menu li a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 11px 20px;
    transition: .2s;
    line-height: 1.3;
}
.y-mobile-menu li.active > a {
    color: #0186CF;
}
.y-mobile-menu li.has-submenu a {
    padding-right: 35px;
}

.y-mobile-menu li > a:before {
    content: '';
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    position: absolute;
    left: 20px;
    right: 0;
    bottom: 0;
}

.has-submenu>a {
    position: relative;
}

.has-submenu> .btn-toggle-sub {
    width: 40px;
    height: 42px;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    color: #000;
    z-index: 2;
}
.has-submenu> .btn-toggle-sub:before {
    content: "+";
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    font-size: 18px;
}

.has-submenu.opened> .btn-toggle-sub:before {
    content: "-";
}

.has-submenu .sub-menu {
    padding-left: 20px;
    display: none;
}

.has-submenu .sub-menu li a {
    font-size: 14px;
}
.overlay-menu.active {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: .5s;
    z-index: 888;
}

/* Menu mobile */
.y-header-mobile {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: grey;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 7px 15px;
    box-sizing: border-box;
    z-index: 777;
}

.mobile-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 36px;
    height: 36px;
    padding: 5px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.mobile-menu-btn span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
}

.mobile-menu-btn span:not(:last-child) {
    margin-bottom: 6px;
}

.scroll-top-btn-desktop.visible {
    opacity: 1;
    visibility: visible;
}
.scroll-top-btn-desktop {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 40px;
    text-align: center;
    background-color: #123D69;
    padding: 10px;
    transition: .2s;
    color: #fff;
    text-decoration: none;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
}
.scroll-top-btn-desktop i {
    color: #fff;
}

.y-text-editor *{
    max-width: 100%;
}
.y-text-editor blockquote {
    margin: 0 0 1.25em;
    padding: 0 1.25em 0 1.875em;
    border-left: 2px solid #111;
    font-style: italic;
}
.y-text-editor p {
    margin-bottom: 10px;
}
.y-text-editor img{
    max-width: 100%;
    height: auto !important;
    display: initial;
}
.y-text-editor iframe{
    max-width: 100%;
}
.y-text-editor table{
    width: 100%;
}
.y-text-editor i{
    font-style: italic;
}
.y-text-editor u{
    text-decoration: underline;
}
.y-text-editor a{
    text-decoration: underline;
}
.y-text-editor b,
.y-text-editor strong{
    font-weight: bold;
}
.y-text-editor ul{
    padding-left: 30px;
    list-style-type: disc;
}
.y-text-editor ul li{
    display: list-item;
}
.y-text-editor ol{
    padding-left: 30px;
    list-style-type: decimal;
}
.y-text-editor ol li{
    display: list-item;
}

@media (max-width: 767px) {
    .box-move-element {
        display: flex;
        flex-wrap: wrap;
        /* flex-flow: column nowrap; */
    }
        .element-1 {
        order: 2;
    }
}