.padding-page {
    padding-bottom: 60px;
}

/* Collection page */
.y-breadcrumb {
    list-style: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.y-breadcrumb ul {
    margin-bottom: 0;
    padding-left: 0;
}

.y-breadcrumb li {
    display: inline;
}

.y-breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

.y-breadcrumb li a {
    color: #000;
    text-decoration: none;
}

.banner-collection {
    margin-bottom: 40px;
}
.title-collection {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 12px;
    margin-bottom: 40px;
}
.title-collection .title {
    font-size: 24px;
    font-weight: bold;
}
.title-collection .box-sort-product {
    text-align: right;
}
.title-collection .sort-product {
    width: max-content;
    margin-left: auto;
    border-radius: 0;
}
.y-breadcrumb li a:hover {
    color: #00B140;
}

.aside-list .item {
    margin-bottom: .4rem;
}
.aside ul {
    /* list-style: none;
    padding-left: 0; */
}
.aside .item.active {
  font-weight: bold;
  color: #007bff;
}

.aside-block {
  background-color: #fff;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, .05);
  border-radius: .25rem;
  margin-bottom: 24px;
}
.aside-block .aside-list {
    padding: 0 15px 15px;
}
.aside-block .title-main {
  position: relative;
  margin-bottom: 1.5rem
}

.aside-block .list .item {
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  border-bottom: 1px solid #e4e6e8
}

.aside-block .list .link {
  color: #222426;
  font-size: 1rem
}

.aside-block .list .link.active, .aside-block .list .link:hover {
  color: #288ad6;
  font-family: "HelveticaNeue Bold"
}
@media screen and (min-width: 992px) {

  .aside-block .title-main {
    padding-bottom: 1rem
  }

  .aside-block .title-main:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: .125rem;
    width: 3.4375rem;
    background-color: #222426
  }
}

.aside-title {
    font-size: 16px;
    font-weight: bold;
}

.aside-list {
  font-size: .875rem
}

.aside-list .item {
  margin-bottom: .4rem
}

.aside-list .item:last-child {
  margin-bottom: 0;
}

.aside-list .item a {
    color: #212223;
}
.aside-list .item label {
  margin-bottom: 0
}

.aside .collapse-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  background-color: #1E73AC;
  color: #fff;
  margin-bottom: .5rem;
  min-height: 2.5rem;
  text-align: left
}

.aside .collapse-btn:after {
  content: "\f068";
  font-family: FontAwesome;
  height: .875rem;
  flex: 0 0 .875rem;
  max-width: .875rem;
  justify-content: flex-end
}

.aside .collapse-btn.collapsed {
  margin-bottom: -1px
}

.aside .collapse-btn.collapsed:after {
  content: "\f067"
}

.checkbox {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: baseline
}

.checkbox-input {
    display: none
}

.checkbox-input:checked~.checkbox-text:before {
    background-color: #333;
    font-size: .75rem
}

.checkbox-text {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer
}

.checkbox-text:before {
    content: "\f00c";
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-family: FontAwesome;
    height: .875rem;
    flex: 0 0 .875rem;
    max-width: .875rem;
    margin-right: .5rem;
    border-radius: 2px;
    border: 2px solid #333;
    font-size: 0;
    transition: all 150ms;
    color: #fff
}

.checkbox-button {
    display: block;
    width: 100%;
    margin-bottom: .7rem
}
.checkbox-button:hover {
    cursor: pointer;
}
.checkbox-button .text {
    text-align: center;
    padding: .5rem .5rem;
    display: block;
    width: 100%;
    border-radius: .375rem;
    border: 1px solid #e4e6e8;
    background-color: #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .08)
}

.list-collection .item-prod {
    margin-bottom: 34px;
}

.paginationk {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: .875rem
}

.paginationk.center {
  justify-content: center
}

.paginationk.center .paginationk-list {
  justify-content: center
}

.paginationk.right {
  justify-content: flex-end
}

.paginationk.right .paginationk-list {
  justify-content: flex-end
}

.paginationk.between {
  justify-content: center
}

.paginationk.between .pages {
  display: flex;
  align-items: center
}

.paginationk-list li {
  margin-right: .375rem;
}

.paginationk-list li:last-child {
  margin-right: 0;
}

.paginationk-list li a {
  display: flex;
  height: 2rem;
  width: 2rem;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  color: #222426;
  font-size: .875rem;
  line-height: 1;
}

.paginationk-list li:hover a, .paginationk-list li:active a {
  border-color: #222426;
}

@media screen and (min-width: 576px) {
  .paginationk.between {
    justify-content: space-between
  }
}

.paginationk-list {
  display: flex;
  flex-wrap: wrap
}

.paginationk-list .item:not(:last-child) {
  margin-right: .375rem
}

.paginationk-list .item:not(.dots) .link {
  display: flex;
  height: 2rem;
  width: 2rem;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  color: #222426;
  font-size: .875rem;
  line-height: 1
}

.paginationk-list .item:not(.dots).active .link, .paginationk-list .item:not(.dots):hover .link {
  border-color: #222426
}

.paginationk-list .item.disabled {
  display: none
}

.paginationk-list .item.disabled .link {
  cursor: default;
  pointer-events: none
}

.paginationk-list .item.disabled:hover .link {
  color: #222;
  background-color: transparent
}

.paginationk-list .item:first-child .link:before, .paginationk-list .item:last-child .link:before {
  font-family: FontAwesome
}

.paginationk-list .item:first-child .link:before {
  content: "\f0d9"
}

.paginationk-list .item:last-child .link {
  flex-direction: row-reverse
}

.paginationk-list .item:last-child .link:before {
  content: "\f0da"
}

.paginationk .text {
  margin-bottom: .5rem;
  color: #888
}

.paginationk .text strong {
  color: #222426
}

.product-article {
    padding-top: 1.5rem;
    font-size: .875rem;
    max-height: 500px;
    overflow: hidden;
    position: relative;
}
.product-article:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg,rgba(255,255,255,.8) 0,#fff 52.08%);
    height: 6.25rem;
    width: 100%;
}
.product-article.visibled {
    max-height: none;
}
.product-article.visibled .more, .product-article.visibled:after {
    display: none;
}
.product-article .more {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 6.25rem;
  width: 100%;
  z-index: 1
}
.product-article .btn-cyan--trans {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.btn-cyan--trans {
    color: #288ad6;
    border-radius: .25rem;
    border: 1px solid;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 12.5rem;
    max-width: 100%;
    transition: all 250ms;
    background-color: transparent;
}
.product-option-m {
  padding: 20px 15px;
  background: #F8F8F8;
  margin-bottom: 28px;
}

.product-option-m .title-filter {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
}
.product-option-m .list {
  display: flex;
  align-items: center;
  overflow-x: auto;
  margin-bottom: .5rem;
  white-space: nowrap;
  font-size: .875rem;
    flex-wrap: wrap;
    justify-content: center;
}

.product-option-m .list .item:not(:last-child) {
  margin-right: .5rem
}

.product-option-m .list.cate {
  margin-bottom: 1rem;
  color: #288ad6
}

.product-option-m .list.cate a {
  color: #212223;
  font-weight: bold;
}
.product-option-m .list.cate .active a {
  color: #288ad6
}

.product-option-m .list.cate .item:not(:last-child) {
  margin-right: 1rem
}

.product-option-m .list .checkbox-text {
  padding: .25rem .5rem;
  border: 1px solid #222426;
  border-radius: .125rem;
  line-height: 1
}

.product-option-m .list .checkbox-text:before {
  display: none
}

.product-option-m .list .checkbox-input:checked ~ .checkbox-text {
  color: #fff;
  background-color: #222426
}

.product-option-m .btn-black--trans {
  margin-top: 1rem
}

.btn-black--trans {
    color: #121212;
    border-radius: .25rem;
    border: 1px solid;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 12.5rem;
    max-width: 100%;
    transition: all 250ms;
    background-color: transparent;
}

/* Blog page */
.list-blog .item-blog {
  margin-bottom: 30px;
}
.list-blog .paginationk.between .pages {
  margin: 0 auto;
}

/* Article page */
.article-content {
  margin-bottom: 40px;
}
.article-content hr {
  margin-top: 24px;
  margin-bottom: 24px;
}
.article-content .title-article {
  font-size: 24px;
}
.article-content .box-like-fb {
  text-align: right;
  margin-bottom: 40px;
}
.blog-other-section {
  background: #F8F8F8;
  padding: 50px 0;
}
.sidebar-article {
  margin-bottom: 30px;
}
.sidebar-article .title-sidebar {
  background: #FF6D00;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  padding: 12px 10px;
  text-transform: uppercase;
}
.sidebar-article .content-sidebar {
  background: #F8F8F8;
  padding: 30px 30px 0;
}

/* Product page*/
.info-prod-detail {
  margin-bottom: 30px;
}
.info-prod-detail .name-prod {
  font-size: 24px;
  margin-bottom: 15px;
}
.info-prod-detail .info-prod .price-prod {
  font-size: 24px;
  margin-bottom: 15px;
}
.specification .title {
  font-weight: bold;
  font-size: 16px;
  background: #F8F8F8;
  border: 1px solid #E4E6E8;
  padding: 12px 10px;
  text-align: center;
}
.slider-prod-detail {
  margin-bottom: 20px;
}
.slider-prod-detail .y-thumb-slider {
  margin-top: 10px;
}
.slider-prod-detail .y-thumb-slider .item {
  border: 1px solid #F0F0F0;
}

.box-gift-prod {
  border: 1px solid #F0F0F0;
  padding: 20px;
  margin-bottom: 30px;
}
.box-gift-prod .title-gift {
  font-weight: bold;
  margin-bottom: 10px;
}
.box-gift-prod .item-gift:after {
  content: "";
  clear: both;
  display: block;
}
.box-gift-prod .item-gift .img-gift {
  width: 70px;
  float: left;
  margin-right: 10px; 
}
.box-gift-prod .item-gift .name-gift {
  float: left;
  width: calc(100% - 80px);
  padding-top: 10px;
  font-weight: bold;
}

.property-list .checkbox-button {
  display: inline-block;
  width: max-content;
  position: relative;
  margin-bottom: 15px;
}
.property-list .checkbox-button input {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  display: block;
  
}
.property-list .checkbox-button:first-child {
  margin-right: 20px;
}
.property-list .checkbox-button {
  margin-right: 8px;
}
.property-list .checkbox-button .text {
  padding-left: 30px;
  padding-right: 16px;
}
.property-list .checkbox-button .text:before {
  position: absolute;
  top:50%;
  left: 10px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  content: "";
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #C4C6C8;
}
.property-list .checkbox-button input:checked ~.text:before {
  background-color: #0186CF;
}

.product-page .box-btn-buy {
  margin-bottom: 30px;
}
.btn-buy-prod {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 3.75rem;
  width: 100%;
  line-height: 1;
  margin-bottom: .5rem;
  background: #DD0000;
  border-radius: 6px;
  margin-bottom: 15px;
  color: #fff;
}
.btn-buy-prod:hover {
  color: #fff; 
}
.btn-buy-prod span:first-child {
  margin-bottom: 8px;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-buy-prod.purchase {
  background: #1E73AC;
}
.product-article-title {
  margin-bottom: 24px;
  color: #1E73AC;
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #1E73AC;
}
.product-page .product-article {
  max-height: 1000px;
}

.content-sidebar-prod {
  background: #F8F8F8;
  padding: 15px;
}
.content-sidebar-prod .box-checklist a {
}
.content-sidebar-prod .box-checklist ul {
  list-style: none;
  padding-left: 0;
}
.content-sidebar-prod .box-checklist li {
  position: relative;
  padding-left: 22px;
  margin-bottom: 10px;
  letter-spacing: 0.6px;
}
.content-sidebar-prod .box-checklist li:before {
  position: absolute;
  top: -2px;
  left: 0;
  width: 14px;
  color: #27AE60;
  content: "\f058";
  font-family: FontAwesome;
  font-size: 16px;
}
.content-sidebar-prod .box-contact-prod li {
  margin-bottom: 10px;
}
.content-sidebar-prod .box-contact-prod a {
  color: initial;
}
.content-sidebar-prod .box-contact-prod i {
  color: #27AE60;
  margin-right: 5px;
  text-align: center;
  width: 16px;
  font-size: 16px;
}
.content-sidebar-prod .box-contact-prod img {
  margin-right: 5px;
}

.box-comment-fb {
  margin-top: 40px;
}

/* About page */
.about-page .commit-section{
  background-color: transparent;
}
.about-page .commit-section .item-commit {
  border-radius: 0;
}
.about-page .commit-section .title-commit {
  color: #212223;
  text-transform: initial;
}
.about-page .about-more-shop {
  margin-top: 30px;
}

/* Contact page */
.contact-page .info-contact .title-shop {
  color: #1E73AC;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.contact-page .info-contact a {
  color: initial;
}
.contact-page .info-contact i {
  color: #1E73AC;
}
.map-contact iframe {
  width: 100%;
  height: 320px;
}

/* Cart page */
.cart-page {
  padding-top: 50px;
}
.cart-page .cart-content {
  box-shadow: 2px 2px 20px rgba(30, 115, 172, 0.1);
  border-radius: 6px;
  /*padding: 40px 0;*/
}
.cart-page .cart-content .img-prod .discount-prod {
  top: 10px;
  right: 8px;
}
.cart-page .cart-content .img-prod .installment-prod {
  right: 8px;
  top: 40px;
  bottom: initial;
  left: initial;
}
.cart-page .info-prod-detail .name-prod, .cart-page .info-prod-detail .info-prod .price-prod {
  font-size: 16px;
  line-height: 1.4;
}
.cart-page .title-cart {
  color: #1E73AC;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.cart-page .item-prod-cart {
  border: 1px solid #F0F0F0;
}
.cart-page .box-gift-prod {
  border: 0;
  padding-left: 0
}
.cart-page .box-total-cart {
  font-weight: bold;
  background-color: #CACACA;
  padding: 18px 30px;
}
.cart-page .form-checkout {
  max-width: 370px;
  margin: 40px auto;
}
.cart-page .form-checkout .title-info-checkout {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

/* Success page */
.box-info-success {
  text-align: center;
  max-width: 370px;
  margin: 40px auto;
}
.box-info-success .title-success {
  font-size: 16px;
}
.box-info-success .icon-success {
  margin-bottom: 20px;
}
.box-info-success .icon-success i {
  font-size: 70px;
  color: #3FB846;
}
.box-info-success .btn-cyan--trans {
  width: 100%;
  margin-top: 16px;
}

/* Installment page */
.box-info-installment {
  
}
.box-info-installment table tr td:first-child {
  background: #F2F4F6;
}
.box-info-installment .logo-hd-saigon {
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;
}
.box-info-installment .total-installment {
  font-size: 16px;
}
.box-info-installment .purchase {
  margin: 24px auto 40px;
  max-width: 370px;
}

/* Checkbox icon check*/
.property-list  .checkbox-button .text-check {
    display: inline-block;
    line-height: 1;
}
.property-list  .checkbox-button .text-check:before {
    content: "\f00c";
    font-size: 8px;
    font-family: "FontAwesome";
    /*font-family: "Font Awesome 5 Free";*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    padding: 1px;
    border-radius: 50%;
    border: 1px solid #c4c6c8;
    line-height: 1;
    color: transparent;
    margin-right: .5rem;
    vertical-align: middle;
}
.property-list  .checkbox-button .input:checked ~ .text-check:before {
    color: #fff;
    background-color: #3fb846;
}

/* Installment success */
.detail-installment {
  border: 1px solid #E4E6E8;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px 20px 20px 30px;
  text-align: left;
  list-style: disc;
}


@media (min-width: 768px) {
  .footer .footer-title i {
    display: none;
  }
}
@media (min-width: 992px) {
  .product-option-m {
    display: none
  }
}

@media (max-width: 991px) {
    .y-breadcrumb {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .contact-page .info-contact {
      margin-bottom: 30px;
    }
    .contact-page .map-contact {
      margin-top: 30px;
    }
}
@media (max-width: 767px) {
    .banner-collection {
        margin-bottom: 0;
    }

    .item-blog .info-blog {
        padding: 15px 10px;
    }
    .sidebar-article {
      margin-bottom: 20px;
    }
    .sidebar-article .content-sidebar {
      padding: 30px 15px 0;
    }
    .blog-other-section {
      padding: 30px 0;
    }
    .item-blog-inline .info-blog {
      padding: 10px 10px 0;
    }
    .item-blog-inline .info-blog .btn-viewdetail {
      display: none;
    }
    .item-blog-inline .title-blog h3 {
      font-size: 14px;
    }

}

@media (max-width: 575px) {
    .title-collection .sort-product {
        margin-left: 0;
    }
    .property-list .title-checkbox-button {
        display: block;
        margin-bottom: 5px;
    }

    .cart-page .item-prod-cart {
        margin-bottom: 30px;
    }
}