@media (min-width: 992px) {
    .mobile-menu-btn {
        display: none;
    }
    .blog-section .banner-blog .box-left {
	    padding-right: 0;
	}
	.blog-section .banner-blog .box-right {
	    padding-left: 0;
	}
}

@media (min-width: 768px) {
	
}

@media (max-width: 1700px) {
	.footer .footer-bottom {
		padding-bottom: 75px;
	}
}
@media (max-width: 1199px) {
	.menu-header li a {
	    padding: 18px 12px;
	}
	.blog-section .banner-blog .box-left .item-blog {
	    height: 306px;
	}
}
@media (max-width: 991px) {
	.header {
		box-shadow: 0px 1px 7px 2px rgba(0, 0, 0, 0.25);
	}
	.top-header {
		padding: 15px 0;
	}
	.logo-header {
		margin: 0 auto;
		width: max-content;
	}
	.box-menu-header {
        display: none;
    }
    .header .box-contact-header, .header .box-search-header {
    	display: none;
    }

    .blog-section .banner-blog .box-left .item-blog {
	    height: auto;
	}
}

@media (max-width: 767px) {
	.padding-section, .home-slider {
	    margin-bottom: 40px;
	}
	.padding-section.section-bg {
	    padding-top: 40px;
	    padding-bottom: 40px;
	}
	.title-main {
		font-size: 24px;
	}

	.logo-header {
		height: 60px;
	}
	.phone-fixed {
		display: none;
	}
	.home-slider .item-slider img {
		display: none;
	}
	.home-slider .item-slider .img-mobile {
	    display: block;
	}
	.title-prod-section {
		font-size: 20px;
	}

	.item-prod .info-prod {
		padding: 10px 0;
	}
	.item-prod .name-prod, .item-prod .name-prod h3 {
		font-size: 14px;
	}
	.item-prod .desc-prod {
		font-size: 12px;
	}

	.blog-section .banner-blog {
		margin-bottom: 24px;
	}
	.blog-section .banner-blog .box-left, .blog-section .banner-blog .box-right {
		padding-left: 0;
		padding-right: 0;
	}

	.footer .collapse-btn:after {
	    content: "\f077";
	    font-family: FontAwesome;
	    display: inline-block;
	    flex: 0 0 2rem;
	    max-width: 2rem;
	    transition: transform 250ms;
	}
	.footer .collapse-btn.collapsed:after {
	    transform: rotate(180deg);
	}
	.footer .footer-title {
		max-width: 100%;
		position: relative;
	}
	.footer .footer-title i.fa {
		display: block;
		position: absolute;
		top: 5px;
		right: 10px;
		font-size: 20px;
		transition: all 0.4s;
	}
	.footer .footer-item {
		margin-bottom: 10px;
	}
	.footer .footer-item .info-footer {
		display: none;
		padding-bottom: 20px;
	}
	.footer .footer-item .footer-title.active + .info-footer {
		display: block;
	}
	.footer-item .footer-title.active i {
		transform: rotate(180deg);
		/*transition: all 0.4s;*/
	}
	.footer .footer-top {
	    padding: 40px 0 0;
	}
	.footer .footer-bct {
		text-align: center;
	}
	.footer .footer-bottom {
		padding-top: 20px;
		padding-bottom: 50px;
	}
	.footer .footer-bottom .copyright {
		text-align: center;
	}

}