@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&display=swap&subset=vietnamese');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #212223;
}

ul {
	margin-bottom: 0;
    list-style: none;
    padding-left: 0;
}

a:hover, a:focus {
    color: #0186CF;
	text-decoration: none;
    /* color: inherit; */
}
button {
    box-shadow: none;
    border: 0;
}
button:focus {
    outline: 0;
}
img {
    max-width: 100%;
}

.title-main {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}
.btn-main {
    background: linear-gradient(180deg, #FFA200 0%, #FF6D00 100%);
    border-radius: 6px;
    height: 40px;
    padding: 5px 40px;
    color: #fff;
    height: 40px;
    display: inline-block;
    line-height: 30px;
}
.btn-main:hover {
    color: #fff;
}
.btn-2 {
    background: #123D69;
    border-radius: 5px;
    color: #fff;
    padding: 5px 30px;
    height: 40px;
}
.color-green {
    color: #3FB846;
}
.color-blue {
    color: #1E73AC;
}
.color-red {
    color: #DD0000;
}
.bg-color-main {
    background-color: #0186CF;
}
.section-bg .title-main {
    color: #fff;
}
.padding-section {
    margin-bottom: 80px;
}
.padding-section.section-bg {
    padding-top: 60px;
    padding-bottom: 80px;
}
.phone-fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    color: #fff;
    background-color: #b00e23;
    padding: .5rem 1rem;
    border-radius: 0 .5rem .5rem 0;
    z-index: 2;
}
.phone-fixed:hover, .phone-fixed:focus {
    text-decoration: none;
    color: #fff;
}
.phone-fixed .text {
    padding-left: 10px;
    font-size: 14px;
    line-height: 1.2;
}
.phone-fixed .text span {
    display: block;
}
.phone-fixed {
    padding: .625rem 1.5rem;
    font-size: 1rem
}
.phone-fixed .fa {
    font-size: 50px;
}
.phone-fixed .text span:last-child {
    font-size: 24px;
    font-weight: bold;
}

/* Header CSS */
.header {
	position: relative;
}
.top-header {
    padding-top: 40px;
    padding-bottom: 40px;
}
.top-header .box-contact-header {
    margin-top: 17px;
}
.top-header .box-search-header {
    margin-top: 25px;
}
.top-header .item-contact {
    position: relative;
    padding-left: 50px;
    margin-top: 10px;
    font-weight: bold;
}
.top-header .item-contact a {
    color: #212223;
}
.top-header .item-contact i {
    position: absolute;
    left: 0;
    width: 48px;
    text-align: center;
    font-size: 48px;
    color: #1E73AC;
}
.top-header .item-contact i.fa-clock-o {
    font-size: 42px;
}
.top-header .item-contact i.fa-envelope-o {
    font-size: 38px;
}

.logo-header {
    height: 94px;
    justify-content: flex-start;
}
.box-menu-header {
    background-color: #123D69;
    text-align: center;
}
.box-menu-header.header-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.6);
    z-index: 999;
}

.box-search-header form {
    position: relative;
}
.box-search-header form .input-search {
    padding-left: 20px;
    padding-right: 72px;
    width: 100%;
    border: 1px solid #212223;
    box-sizing: border-box;
    border-radius: 20px;
    height: 40px;
}
.box-search-header form .btn-search {
    position: absolute;
    top: 50%;
    right: 5px;
    width: 66px;
    height: 30px;
    background-color: #1E73AC;
    border-radius: 20px;
    padding: 0 10px;
    transform: translateY(-50%);
}
.box-search-header form .btn-search i {
    color: #fff;
    font-size: 20px;
}

.menu-header {
    text-align: center;
}

.menu-header li {
	display: inline-block;
	margin-right: 0;
}

.menu-header li a {
    color: #fff;
    padding: 18px;
    display: block;
}
.menu-header li.active a, .menu-header li:hover a {
	background-color: #0186CF;

}

 /* Nav Slider Owl 2 */
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
}
.owl-carousel .owl-nav .owl-prev {
    left: 0;
}
.owl-carousel .owl-nav .owl-next {
    right: 0;
}

/* Css - Hover show Nav */
/*.owl-carousel .owl-nav {
    display: none;
    transition:  opacity 1s ease-out;
    visibility: hidden;
    opacity: 0;
 }*/
/*.owl-carousel:hover .owl-nav {
    display: block;
    visibility: visible;
    opacity: 1;
 }

 /* Dots Slider Owl 2 */
.owl-carousel .owl-dots {
    position: absolute;
    left: 0;
    bottom: -24px;
    right: 0;
    z-index: 99;
    height: max-content;
    margin: 0 auto;
    text-align: center;
}
.owl-carousel .owl-dots .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    border: 1px solid #1E73AC;
    border-radius: 50%;
    width: 21px;
    height: 21px;
}
.owl-carousel .owl-dots .owl-dot.active span {
    background: #1E73AC;
}
.owl-carousel .owl-dots .owl-dot span {
    position: absolute;
    width: 64%;
    height: 64%;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}
@media(max-width: 991px) {
    .owl-carousel .owl-dots .owl-dot {
        width: 12px;
        height: 12px;
    }
}

.section-bg .owl-dots .owl-dot {
    margin: 0 5px;
    border: 1px solid #fff;
}
.section-bg .owl-dots .owl-dot.active span {
    background: #fff;
}

/* Index */
.home-slider {
    margin-bottom: 80px;
}
.home-slider .owl-dots {
    bottom: 40px;
}
.home-slider .item-slider .img-mobile {
    display: none;
}

.item-blog .title-blog, .item-blog .title-blog h3 {
    display: block;
    font-weight: bold;
    font-size: 16px;
    color: #212223;
    margin-bottom: 8px;
}
.item-blog .title-blog:hover h3 {
    color: #0186CF;
}
.item-blog .img-blog .y-box-img {
    padding-bottom: 76.2%;
}
.item-blog .info-blog {
    padding: 20px 15px;
    /*background-color: #fff;*/
}
.item-blog .info-blog .date-blog {
    color: #828282;
    font-style: italic;
    margin-bottom: 8px;
}
.item-blog .info-blog .desc-blog {
    letter-spacing: 0.6px;
}
.item-blog .info-blog .btn-viewdetail {
    display: block;
    color: #0186CF;
    margin-top: 15px;
}
.item-blog .info-blog .btn-viewdetail i {
    font-size: 15px;
    margin-left: 5px;
}


.item-blog-inline {
    background-color: #fff;
}
.item-blog-inline:after {
    display: block;
    content: "";
    clear: both;
}
.item-blog-inline .img-blog {
    width: 35%;
    float: left;
}
.item-blog-inline .info-blog {
    width: 65%;
    float: left;
    padding: 15px;
}
.item-blog-inline .info-blog .btn-viewdetail {
    margin-top: 5px;
}

.why-section .item-blog .title-blog {
    text-transform: uppercase;
}

.commit-section {
    background: #1E73AC;
}
.commit-section .item-commit {
    text-align: center;
    color: #fff;
    border: 2px solid #F0F0F0;
    border-radius: 20px;
    padding: 20px 15px;
}
.commit-section .item-commit .icon-commit {
    margin-bottom: 24px;
    height: 70px;
}
.commit-section .item-commit .title-commit {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 8px;
    letter-spacing: 0.6px;
}
.commit-section .item-commit .desc-commit {
    letter-spacing: 0.6px;
    text-align: left;
}

.title-prod-section {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #E0E0E0;
}

.item-prod {
    position: relative;
    letter-spacing: 0.6px;
}
.item-prod .img-prod {
    padding-bottom: 76.2%;
}
.item-prod .img-prod .installment-prod {
    position: absolute;
    bottom: 0;
    left: 15px;
    background: #FF6D00;
    border-radius: 4px;
    color: #fff;
    padding: 2px 7px;
    pointer-events: none;
}
.item-prod .img-prod .discount-prod {
    position: absolute;
    top: 0;
    right: 15px;
    background: #DD0000;
    border-radius: 4px;
    color: #fff;
    padding: 2px 7px;
    pointer-events: none;
}
.item-prod .info-prod {
    padding: 15px;
}
.item-prod .name-prod, .item-prod .name-prod h3 {
    display: block;
    font-weight: bold;
    font-size: 16px;
    color: #212223;
    margin-bottom: 8px;
}
.item-prod:hover .name-prod h3 {
    color: #0186CF;
}
.info-prod .price-prod {
    color: #DD0000;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
}
.info-prod .price-prod .price-old {
    color: #BDBDBD;
    text-decoration: line-through;
    font-weight: normal;
    font-size: 14px;
    margin-left: 5px;
}

.box-prod-slider .btn-main, .blog-section .btn-main {
    margin-top: 30px;
}
.product-section .box-prod-slider {
    margin-bottom: 40px;
}
.product-section .box-prod-slider:last-child {
    margin-bottom: 0;
}
.product-section-slider .item-prod:after {
    position: absolute;
    content: "";
    top: 0;
    right: -10px;
    width: 1px;
    height: 100%;
    background-color: #E0E0E0;
}
.product-section-slider .owl-item:last-child .item-prod:after {
    background-color: none;
    border-right: 0;
}
.product-section-slider .owl-nav .owl-prev, .product-section-slider .owl-nav .owl-next {
    top: -50px;
    background: #000;
    color: #fff;
    font-size: 10px;
    width: 24px;
    height: 24px;
}
.product-section-slider .owl-nav .owl-prev {
    left: inherit;
    right: 40px;
}

.blog-section .banner-blog {
    margin-bottom: 40px;
}

.blog-section .banner-blog .box-left .info-blog {
    padding: 40px 30px;
}
.blog-section .banner-blog .box-left .item-blog {
    height: 366px;
}
.blog-section .banner-blog .box-left .title-blog h3 {
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.4;
}
.blog-section .banner-blog .box-left .btn-viewdetail, .blog-section .banner-blog .box-left .date-blog, .blog-section .banner-blog .box-left .desc-blog {
    color: #fff;
}

.footer {
    background-color: #123D69;
    color: #fff;
}
.footer .footer-top {
    padding: 60px 0 40px;
}
.footer .logo-footer {
    margin-bottom: 30px;
}
.footer .logo-footer img {
    max-width: 270px;
}
.footer a {
    color: #fff;
}
.footer ul {
    list-style: none;
    padding-left: 10px;
}
.footer .footer-item {
    margin-bottom: 30px;
}
.footer .footer-title {
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom:1px solid #fff;
    max-width: 280px;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 18px;
}
.footer .footer-title i.fa {
    display: none;
}
.footer-contact li {
    padding-bottom: 15px;
}
.footer-contact i {
    font-size: 24px;
    width: 30px;
    text-align: center;
    margin-right: 5px;
}
.footer .list-link li:first-child a {
    padding-top: 0;
}
.footer .list-link li a {
    padding: 8px 0;
    display: block;
    letter-spacing: 1px;
}
.footer .list-link li a i {
    margin-right: 15px;
    font-size: 20px;
}
.footer .footer-social li {
    display: inline-block;
    margin-right: 20px;
}
.footer .footer-social li a i {
    font-size: 24px;
}
.footer .footer-bct {
    margin-top: 40px;
}

.footer .footer-bottom {
    background: #212223;
    padding: 10px 0;
}
.footer .footer-bct {
    margin-top: 40px;
}
.footer .footer-bottom .copyright {
    text-transform: uppercase;
}
