#bk-btn-installment,
#bk-btn-installment-amigo,
#bk-btn-paynow,
.bk-btn-installment,
.bk-btn-installment-amigo,
.bk-btn-paynow {
    padding: 7px 10px;
    font-size: 1.125rem;
    margin-bottom: 8px;
}
#bk-btn-installment strong,
#bk-btn-installment-amigo strong,
#bk-btn-paynow strong,
.bk-btn-installment strong,
.bk-btn-installment-amigo strong,
.bk-btn-paynow strong {
    margin-bottom: 3px;
}

#bk-btn-installment span,
#bk-btn-installment-amigo span,
#bk-btn-paynow span,
.bk-btn-installment span,
.bk-btn-installment-amigo span,
.bk-btn-paynow span {
    font-size: 13px;
}
