body {
  font-size: 15px;
  color: #212223;
  font-family: "Mulish", "Roboto", "Helvetica Neue", "Arial", sans-serif;
}

.y-text-editor * {
  font-size: 15px !important;
}

.y-text-editor h1,
.y-text-editor h1 * {
  font-size: 32px !important;
}

.y-text-editor h2,
.y-text-editor h2 * {
  font-size: 26px !important;
}

.y-text-editor h3,
.y-text-editor h3 *,
.y-text-editor h4,
.y-text-editor h4 * {
  font-size: 22px !important;
}

.top-header .item-contact .day-big {
  font-size: 42px !important;
}

.tns-horizontal.tns-subpixel > .tns-item:last-child {
  border-right: 0;
}

.menu-cart a {
  position: relative;
}

.list-banner-policy {
  text-align: center;
}

.list-banner-policy img {
  max-height: 300px;
  display: inline-block;
}

.nav-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  footer {
    margin-bottom: 80px;
  }

  .nav-mobile ul li {
    display: inline-block;
    width: 25%;
    text-align: center;
    float: left;
  }

  .nav-mobile ul li a {
    display: block;
    color: #c42525;
    font-weight: bold;
  }

  .nav-mobile ul li img {
    width: 30px;
    display: block;
    margin: 5px auto;
  }

  .cta-fixed-mobile {
    bottom: 80px;
  }

  .list-banner-policy img {
    margin-bottom: 20px;
  }

  .cta-fixed-mobile .item-cta.chat {
    position: absolute;
    left: 0;
    bottom: 65px;
  }

  .cta-fixed-mobile .item-cta.phone {
    position: absolute;
    left: 0;
    bottom: 125px;
  }

  .nav-mobile {
    display: block;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 20px 20px 50px grey;
    z-index: 1;
  }
}

.menu-cart a span {
  position: absolute;
  display: inline-block;
  top: 5px;
  right: 15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background-color: #dd0000;
}

.box-countdown {
  margin: 30px 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
}

.box-countdown .title {
  font-size: 20px;
  margin-bottom: 40px;
}

.box-countdown .title span {
  color: #dd4b39;
  font-weight: bold;
}

.box-countdown ul li {
  text-transform: uppercase;
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 0 50px;
}

.box-countdown ul li .number {
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  width: 60px;
  color: #dd4b39;
}

.box-countdown ul li .text {
  font-size: 20px;
  font-weight: 400;
  display: block;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .box-countdown .title {
    font-size: 17px;
    margin-bottom: 25px;
  }

  .box-countdown ul li {
    padding: 0 10px;
  }

  .box-countdown ul li .number {
    font-size: 20px;
  }

  .box-countdown ul li .text {
    font-size: 15px;
  }
}

.y-text-editor,
.tab-content-toc .item-product-description {
  line-height: 1.5;
}

.menu-header li a img {
  max-width: 32px;
  margin-right: 10px;
}

.menu-header li a {
  display: flex;
  align-items: center;
}

.navigation-open {
  background: rgba(0, 0, 0, 0) url({{theme.uri}}/assets/img/root/icon-bars.svg) no-repeat center/cover;
}

.active-box {
  display: block;
}

.top-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.item-prod-new .discount-percent {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #dd4b39;
  color: rgba(255, 255, 255, 0.75);
  z-index: 1;
  padding: 3px 9px;
  font-size: 12px;
  border-radius: 5px;
}

.item-prod-new .discount-percent b {
  color: #fff;
  margin-left: 3px;
  font-size: 15px;
}

.border-item-slider {
  box-shadow: none;
}

.load-collection-child {
  cursor: pointer;
}
