@import "../css/common/variable.scss";

$blue: #123d69;
$black: #212223;

@font-face {
    font-family: "SFProDisplay";
    src: url(../fonts/SF-Pro-Display-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: "SFProDisplay";
    src: url(../fonts/SF-Pro-Display-RegularItalic.otf);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "SFProDisplay";
    src: url(../fonts/SF-Pro-Display-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: "SFProDisplay";
    src: url(../fonts/SF-Pro-Display-MediumItalic.otf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "SFProDisplay";
    src: url(../fonts/SF-Pro-Display-Semibold.otf);
    font-weight: 600;
}

@font-face {
    font-family: "SFProDisplay";
    src: url(../fonts/SF-Pro-Display-SemiboldItalic.otf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "SFProDisplay";
    src: url(../fonts/SF-Pro-Display-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: "SFProDisplay";
    src: url(../fonts/SF-Pro-Display-BoldItalic.otf);
    font-weight: 700;
    font-style: italic;
}

// html,
// body {
//     font-family: "SFProDisplay";
//     font-size: 16px;
// }

html,
body {
    font-family: "SFProDisplay";
    font-size: 16px;

    @include Responsive(SM) {
        font-size: 15px;
    }
}

.container {
    max-width: 1285px;
}

#top-menu {
    background-color: #272727;
    padding: 7px 0;
    ul {
        text-align: right;
        li {
            position: relative;
            display: inline-block;
            padding-right: 35px;
            color: #fff;

            &::after {
                position: absolute;
                content: "";
                top: 50%;
                right: 15px;
                height: 18px;
                width: 1px;
                background: rgba(255, 255, 255, 0.35);
                transform: translateY(-50%);
            }

            &:last-child {
                padding-right: 0;

                &::after {
                    display: none;
                }
            }

            a {
                color: #fff;
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
}

#header-logo {
    .top-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 30px;

        @include Responsive(MD) {
            justify-content: center;
        }

        .box-search-header {
            margin-top: 0;
            .input-search {
                border-radius: 18px;
            }
        }
    }
    .box-contact-header {
        margin-top: 0;

        .item-contact {
            position: initial;
            padding: 0 5px;

            a {
                border: 0.5px solid #000;
                border-radius: 2px;
                width: 100%;
                padding: 4px 7px;
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 6px;
                font-size: 1rem;
                font-weight: 400;
                color: #e20000;

                i {
                    position: relative;
                    color: #e20000;
                    width: initial;
                    margin-right: 5px;
                    font-size: 17px;
                    font-weight: bold;
                }
            }
        }
    }

    .box-login-header {
        .login-header {
            width: 28px;
        }
    }

    .box-menu-header {
        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 2023;
        }
        .container {
            position: relative;
            .first-menu {
                position: absolute;
                left: 30px;
                top: 0;
                height: 100%;
                color: #fff;
                display: flex;
                cursor: pointer;
                &:hover {
                    background-color: transparent;
                    a {
                        background-color: transparent;
                    }
                }
                a {
                    padding: 0;
                    font-size: 1rem;
                    font-weight: 400;
                }
            }
        }
        .menu-header {
            > li > a {
                font-family: SFProDisplay;
                position: relative;
                .line {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    height: 20px;
                    transform: translateY(-50%);
                    display: inline-block;
                    border-right: 1px solid #fff;
                }
            }
            li:last-child {
                .line {
                    display: none;
                }
            }
            > li:hover {
                background-color: #0186cf;
            }
        }
    }
}

section {
    .h2-title {
        font-family: SFProDisplay;
        font-size: 20px;
        font-weight: 700;
        color: #5a5a5a;
        display: flex;
        align-items: center;
        img {
            margin-left: 8px;
        }
    }
}

#danh-muc {
    scroll-margin-top: 85px;
}

#menu-banner {
    padding-top: 15px;

    > .container {
        display: flex;
        column-gap: 16px;
    }
    .item-menu {
        display: inline-block;
        width: 226px;
        background-color: #e8e8e8;
        border-radius: 11px;
        box-shadow: 0px 3px 4px 0px #00000040;
        @include Responsive(MD) {
            display: none;
        }

        .wrap-menu-pill {
            position: relative;
            height: 100%;
            &:hover {
                .tab-content {
                    display: block;
                }
            }
            .nav {
                .nav-link {
                    font-family: SFProDisplay;
                    color: #242424;
                    display: flex;
                    align-items: center;
                    padding: 12px 16px;

                    img {
                        max-width: 29px;
                        margin-right: 8px;
                        filter: brightness(0%);
                    }

                    &.active {
                        background: none;
                    }
                    &:hover {
                        background-color: #5c5c5c;
                        color: #fff;
                        img {
                            filter: brightness(100%);
                        }
                    }
                }
            }
            .tab-content {
                display: none;
                position: absolute;
                top: 0;
                left: 250px;
                height: 100%;
                width: 500px;
                z-index: 1;
                background-color: #fff;
                padding: 15px;
                border-radius: 11px;
                border: 1px solid #e8e8e8;
                ul {
                    li {
                        padding: 15px;
                        a {
                            color: $black;
                            font-family: SFProDisplay;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
    .item-banner {
        flex: 1;
    }
}

.category-section {
    margin-top: 34px;

    .list-catalogs {
        display: flex;
        flex-wrap: wrap;
        // gap: 12px 12px;
        row-gap: 12px;
        column-gap: 12px;
        margin-top: 25px;

        h2 {
            display: inherit;
            margin-bottom: 0;
            a {
                display: inline-block;
                background-color: #e1e1e1;
                color: #424242;
                font-family: SFProDisplay;
                border-radius: 3px;
                font-size: 1rem;
                font-weight: 600;
                padding: 8px 23px;
                text-transform: uppercase;

                &:hover {
                    background-color: #123d69;
                    color: #fff;
                }
            }
        }
    }

    .list-brands {
        background-color: #efefef;
        border-radius: 16px;
        padding: 15px;

        .item-brand {
            background-color: #fff;
            box-shadow: 0px 2px 2px 0px #00000040;
            border-radius: 16px;
            padding: 25px 42px 50px;
            text-align: center;
            margin: 5px 0 5px;

            @include Responsive(SM) {
                padding: 20px 30px 40px;
            }

            .box-img-flex {
                height: 70px;
                margin-bottom: 24px;
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                row-gap: 15px;
                li {
                    width: 100%;
                    border-radius: 30px;
                    border: 1px solid #d9d9d9;
                    color: #717171;
                    padding: 8px 0 3px;
                    cursor: pointer;

                    h3 {
                        margin-bottom: 0;
                    }

                    &:first-child {
                        background-color: #f0f0f0;
                        border-color: #123d69;

                        .title {
                            color: #123d69;
                            font-family: SFProDisplay;
                        }
                    }

                    .title {
                        color: #717171;
                        font-size: 1.625rem;
                        display: block;
                        margin-bottom: 0;
                        font-weight: 500;
                    }

                    span {
                        font-weight: 300;
                        font-size: 1rem;
                        line-height: 19px;
                    }
                }
            }
        }
    }
}

.customer-section {
    margin: 20px 0;

    .h2-title {
        font-family: SFProDisplay;
        font-size: 20px;
        display: inline-block;
        color: #fff;
        padding: 10px 20px;
        background-size: 100% 93%;
        background-repeat: no-repeat;
    }

    .list-images {
        display: flex;
        gap: 10px;
        overflow-x: auto;
        margin-top: 10px;
        img {
            max-width: 190px;
            max-height: 250px;
            border-radius: 5px;
        }
    }
}

@import "./common/product-section.scss";

.product-section {
    margin-bottom: 30px;

    @media screen and (min-width: 992px) {
        .col-20 {
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
    .item-prod-new {
        border: 1px solid #9d9d9d;
        border-radius: 9px;
        font-family: SFProDisplay;
        transition: box-shadow 0.5s;
        &:hover {
            border-color: #000;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            box-shadow:
                rgba(0, 0, 0, 0.3) 0px 19px 38px,
                rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }
        .info-prod {
            padding: 15px 10px 0;

            h3 {
                margin: 0;
                height: 38px;
            }
            .name-prod {
                display: block;
                text-align: center;
                font-size: 16px;
                font-weight: 700;
                font-family: SFProDisplay;
                margin: 0;
            }
            .wrap-icon-ban-chay {
                display: inline-flex;
                align-items: center;
                background-color: #d22b29;
                color: #fff;
                padding: 2px 10px;
                border-radius: 15px;
                margin: 20px 0 10px;
                font-size: 12px;
                font-weight: 700;
                img {
                    width: 14px;
                    margin-right: 4px;
                }
            }

            .config-prod {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                background-color: #ececec;
                border-radius: 5px;
                padding-bottom: 3px;
                margin-bottom: 10px;
                padding: 10px 10px 12px;

                .item-config {
                    flex: 50%;
                    margin: 0;
                    margin-bottom: 5px;
                    display: flex;
                    align-items: center;
                    span {
                        margin-right: 5px;
                    }
                }
            }
            .y-box-rating {
                color: #ec8a1a;
                display: flex;
                align-items: center;
                font-size: 12px;
                margin-top: 5px;
                font-weight: bold;
                font-family: SFProDisplay;
                img {
                    margin: 0 3px;
                }
                .viewmore-rating {
                    color: $black;
                    font-size: 12px;
                }
                span {
                    position: relative;
                    top: 1px;
                }
            }
        }
    }
}

.section-news {
    margin: 30px 0;

    .box-title {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .box-right {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            row-gap: 10px;
            column-gap: 20px;
            text-align: right;

            @include Responsive(SM) {
                justify-content: flex-start;
                margin-top: 15px;
                text-align: left;
            }

            .load-collection-child {
                display: inline-block;
                color: #515151;
                font-size: 1rem;
                font-weight: 700;
            }

            .link-view-all {
                display: inline-block;
                color: #0059b3;
                font-family: SFProDisplay;
                font-weight: 400;
            }
        }
    }

    .box-content {
        display: flex;
        column-gap: 16px;
        @include Responsive(MD) {
            flex-wrap: wrap;
            row-gap: 24px;
        }

        .item-news {
            text-align: center;
            width: 25%;

            @include Responsive(MD) {
                width: calc(50% - 8px);
            }
            @include Responsive(XS) {
                width: 100%;
            }

            h3 {
                margin-top: 20px;
                @include Responsive(XS) {
                    margin-top: 15px;
                }

                a {
                    font-size: 18px;
                    font-weight: 800;
                    color: #123d69;
                    display: block;
                    line-height: 25px;
                    text-align: center;
                }
            }
            .img-news {
                img {
                    border-radius: 7px;
                    width: 100%;
                    height: 240px;
                    object-fit: cover;
                }
            }
        }
    }
}

.footer-top {
    h4.title {
        font-family: SFProDisplay;
        color: #fff;
        border: 0 !important;
        padding-bottom: 10px !important;
    }
    ul {
        padding-left: 5px !important;
        li {
            display: list-item !important;
            list-style-type: disc;
        }
    }
}

.footer .footer-bottom {
    background-color: #fff;
    color: #000;
    padding-bottom: 10px !important;
    .col-12 {
        display: flex;
        align-items: center;
        gap: 15px;
        a {
            img {
                max-height: 30px;
            }
        }
    }
}

.product-main-content {
    background-color: #f9f9f9;
    .wrap-breadcrumb {
        background-color: #e8e8e8;
        .y-breadcrumb {
            margin-top: 0;
            margin-bottom: 0;
            padding: 20px 15px;
            li + li:before {
                content: ">";
            }
            li {
                a {
                    font-weight: 300;
                    color: #929292;
                    b {
                        color: #000;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .wrap-image {
        h1 {
            font-size: 26px;
            font-weight: 600;
            margin: 0 0 20px;
        }
        .slide-images {
            .lSSlideWrapper {
                border: 2px solid #e4e4e4;
                border-radius: 3px;
            }
            .lSGallery {
                margin-top: 20px !important;
                li {
                    a {
                        display: inline-block;
                        border: 2px solid #cacaca;
                        overflow: hidden;
                        border-radius: 3px;
                        img {
                            width: 60px;
                            height: 60px;
                            object-fit: contain;
                        }
                    }
                    &.active {
                        a {
                            border-color: #123d69;
                        }
                    }
                }
            }
        }
    }

    .product-info {
        .box-sku {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }

        .status {
            display: inline-block;
            background-color: #242424;
            color: #fff;
            border-radius: 10px;
            font-size: 12px;
            font-weight: 700;
            padding: 2px 8px;
            width: max-content;
        }

        .sku {
            font-size: 10px;
            color: #545454;
            display: block;
            margin-top: 5px;
            text-transform: uppercase;
            b {
                margin-right: 2px;
            }
        }
        .wrap-rating {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            gap: 6px;
            .star .fa {
                font-size: 16px;
            }
        }
        .wrap-sun {
            background-color: #123d69;
            color: #fff;
            border-radius: 4px;
            font-size: 16px;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            padding: 6px 10px;
            margin-bottom: 10px;
            width: max-content;
        }
        .product-price {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0;
            gap: 10px;
            .main-price {
                color: #ff0000;
                font-size: 32px;
                margin: 0;
            }
            .price-compare {
                color: rgba(169, 169, 169, 1);
                font-size: 18px;
                text-decoration: line-through;
                font-weight: 400;
            }
        }
        .info-prod-detail .info-config p {
            margin-bottom: 10px !important;
            line-height: 22px;
            display: list-item;
            margin-left: 20px;
        }
        .row-vat {
            margin-bottom: 20px;
            img {
                width: 24px;
                margin-right: 3px;
            }
            span {
                color: #2476cb;
                font-size: 16px;
            }
            .col-5 {
                text-align: right;
            }
        }

        .list-all-variants .item-variant {
            border-color: #123d69;
            text-align: center;
            line-height: 18px;
            padding: 18px 0;
            border-radius: 0;
            .title {
                color: #000;
                font-size: 12px;
            }
            .price {
                margin-top: 5px;
                font-size: 18px;
                color: #ff0000;
            }
        }

        .list-all-variants .item-variant.active {
            background-color: #fff7ec;
            border-color: #ff9600;
            .price {
                color: #ff3700;
            }
        }
    }

    .box-qua-tang {
        border: 1px solid #e4e4e4;
        position: relative;
        overflow: hidden;
        .title-qua-tang {
            width: 70px;
            position: absolute;
            top: 0;
            left: 0;
            background-size: contain;
            color: #fff;
            background-position: center;
            background-repeat: no-repeat;
            padding: 3px 10px;
            font-weight: 600;
            line-height: 22px;
        }
        .wrap-content {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            padding: 30px 15px 15px;
            span {
                display: block;
                font-size: 10px;
                text-align: center;
                width: 33.33%;
            }
            .tri-gia {
                font-size: 16px;
                b {
                    color: #ff0000;
                    font-weight: 700;
                    display: block;
                }
            }
            img {
                max-width: 110px;
            }
        }
    }

    .box-bao-hanh,
    .wrap-specification {
        border: 1px solid #e4e4e4;
        position: relative;
        overflow: hidden;
        margin-top: 20px;
        .title-bao-hanh {
            width: 110px;
            position: absolute;
            top: 0;
            left: 0;
            background-size: contain;
            color: #fff;
            background-position: center;
            background-repeat: no-repeat;
            padding: 7px 10px;
            font-weight: 600;
        }
        .wrap-content {
            padding: 40px 15px 5px 30px;
            li {
                list-style-type: disc;
                line-height: 21px;
                font-size: 14px;
                margin-bottom: 4px;
            }
        }
    }

    .box-bao-hanh {
        margin-top: 5px;
        .wrap-content {
            li {
                font-size: 12px;
            }
        }
    }

    .box-item-description {
        line-height: 22px;
    }

    .wrap-btns-order {
        button {
            width: 100%;
        }
    }
}

.price-prod sup {
    top: -2px;
    font-size: 90%;
}

.box-pkmk {
    margin: 20px 0;
    padding: 15px;
    background-color: #fff;
    border-radius: 13px;
    .item-title {
        font-size: 26px;
        font-weight: 700;
        color: #123d69;
        margin-bottom: 20px;
    }
}

.item-prod-new {
    border: 1px solid #9d9d9d;
    border-radius: 9px;
    padding: 10px;
    .wrap-icon-ban-chay {
        display: inline-flex;
        align-items: center;
        background-color: #d22b29;
        color: #fff;
        padding: 2px 10px;
        border-radius: 15px;
        font-size: 12px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
        img {
            width: 14px !important;
            margin-right: 4px;
        }
    }
    h3 {
        line-height: 1.3;
        height: 45px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }
    .price-prod {
        display: block !important;
        text-align: right;
        padding-right: 20px;
        height: 50px;
    }
    .price-cur {
        font-size: 26px;
        font-weight: 700;
        color: #ff0000;
    }
    .price-old {
        font-size: 18px;
        font-weight: 400;
        color: #858585;
        margin-top: 5px;
    }
}

.box-chuyen-gia {
    border: 1px solid #ddd;
    border-radius: 13px;
    padding: 15px;
    background-color: #fff;
    margin-bottom: 30px;
    .title {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        color: #5a5a5a;
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }

        span {
            &.cg {
                font-size: 16px;
                font-weight: 400;
                margin-left: auto;
                @media (max-width: 767px) {
                    margin-top: 15px;
                    margin-left: 0;
                }
            }
            img {
                width: 19px;
                margin-left: 1px;
                position: relative;
                top: -2px;
            }
        }
    }
    .item-progress {
        margin-bottom: 20px;
        .text {
            font-size: 13px;
            margin-bottom: 4px;
        }
        .progress {
            height: 5px;
        }
    }
}

.wrap-product-info {
    padding: 15px;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 13px;
}

.tab-content-toc {
    padding: 0;
    border: 0;

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 767px) {
            flex-direction: column;

            span {
                margin-top: 15px;
            }
        }

        .video-review {
            display: flex;
            align-items: center;
            color: #0080dc;
            svg {
                margin-left: 7px;
            }
        }
    }
}

.wrap-mtct {
    padding: 15px;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 13px;
    border: 1px solid #ddd;
    .title {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 20px;
        color: #5a5a5a;
    }
    .product-article {
        padding-top: 0;
    }
    .js-articleMore {
        text-transform: uppercase;
        background-color: #123d69;
        color: #fff;
        font-weight: 700;
        font-size: 15px;
        margin-top: 15px !important;
        margin-bottom: 0 !important;
    }
}

.product-article .more {
    height: initial !important;
}

.wrap-hoi-dap {
    padding: 15px;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 13px;
    border: 1px solid #ddd;
    .title {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 20px;
        color: #5a5a5a;
    }
    .form-control {
        width: 100% !important;
        background-color: #f7f7f7;
        outline: 0;
        box-shadow: none;
    }
    .btn-review {
        display: inline-block !important;
        width: 200px !important;
        background-color: #727272;
        color: #fff;
        float: none !important;
        padding: 0 20px;
        height: 24px;
        line-height: 1;
    }
}

.wrap-danh-gia-sp {
    padding: 15px;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 13px;
    border: 1px solid #ddd;
    .title {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 20px;
        color: #5a5a5a;
    }
    .box-product-rating {
        border: 1px solid #e4e4e4;
        padding: 0 10px;

        .row {
            align-items: center;
            .col-8 {
                border-left: 1px solid #e4e4e4;
                max-width: initial;
                padding: 10px 20px;
            }
        }
        .progress-rating .item-progress {
            margin-bottom: 5px;
            .fa-star {
                color: #ffc700;
            }
            .box-progress {
                width: calc(100% - 120px);
            }
        }
        .rating-medium .score-rating {
            font-size: 19px;
            font-weight: 700;
            color: #123d69;
        }
    }
    .wrap-btn-write {
        color: #7e7e7e;
        text-align: center;
        padding: 10px 0;
        font-size: 12px;
        .btn-review {
            background-color: #727272;
            color: #fff;
            float: none !important;
            padding: 0 20px;
            height: 30px;
            line-height: 30px;
            margin-top: 5px;
        }
    }
}

.wrap-splq {
    padding: 15px;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 13px;
    border: 1px solid #ddd;
    .title {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 20px;
        color: #5a5a5a;
    }
    .item-product-description {
        margin-bottom: 0;
    }
    .item-product-related {
        .item-prod-new {
            border: 1px solid #d9d9d9;
            border-radius: 0;
            text-align: center;
            .wrap-icon-ban-chay {
                top: 5px;
                right: 5px;
            }
            h4 {
                margin-bottom: 0;
                line-height: normal;
                a {
                    font-size: 14px !important;
                    text-align: center;
                    color: #000 !important;
                    font-weight: normal !important;
                }
            }
            .price-prod {
                text-align: center;
                color: #ff0000;
                font-size: 14px;
                font-weight: 700;
                height: initial;
            }

            .number-variant {
                border: 0.2px solid #c6c6c6;
                border-radius: 4px;
                font-size: 10px;
                display: inline-block;
                padding: 3px 10px;
                background-color: #f2f2f2;
            }
        }
    }
}

.customer-section-product {
    .h3-title {
        color: #123d69;
        font-size: 26px;
        font-weight: 700;
    }
}

.wrap-specification {
    padding-bottom: 5px;
    background-color: #fff;
    border-radius: 13px;
    border: 1px solid #ddd;
    position: relative;
    overflow: hidden;

    .item-title {
        font-size: 16px;
        font-weight: 700;
        color: #fff !important;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 8px;
        padding: 8px 12px 8px 8px;
    }
    .more {
        button {
            text-transform: uppercase;
            background-color: #123d69;
            color: #fff;
            font-weight: 700;
            font-size: 15px;
            margin-top: 15px !important;
            margin-bottom: 0 !important;
        }
    }

    .wrap-content {
        font-size: 1rem;
    }
}

.fixed-info {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 13px;
    border: 1px solid #ddd;
    position: relative;
    overflow: hidden;
    .bk-product-name {
        font-size: 26px;
        font-weight: 700;
    }
    .wrap-rating {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 13px;
    }
    .product-price {
        text-align: left;
        padding: 15px 0;
        .bk-product-price {
            font-size: 32px;
            font-weight: 700;
            color: #ff0000;
            margin: 0;
        }
        .price-compare {
            font-size: 18px;
            color: #858585;
            text-decoration: line-through;
            margin-top: 10px;
            display: block;
        }
    }
    .list-all-variants .item-variant {
        border-color: #123d69;
        text-align: center;
        line-height: 18px;
        padding: 18px 0;
        border-radius: 0;
        .title {
            color: #000;
            font-size: 12px;
        }
        .price {
            margin-top: 5px;
            font-size: 18px;
            color: #ff0000;
        }
    }

    .list-all-variants .item-variant.active {
        background-color: #fff7ec;
        border-color: #ff9600;
        .price {
            color: #ff3700;
        }
    }
}

// update 8/1

.wrap-splq .item-product-description {
    .product-section-slider {
        .owl-nav {
            .owl-next,
            .owl-prev {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgba(217, 217, 217, 1);
                background-color: transparent;
                color: rgba(90, 90, 90, 1);
                font-size: 30px;
                width: 18px;
                height: 18px;
                line-height: 1;
                position: absolute;
                top: -10px !important;
                left: initial !important;
                right: 0 !important;
                transform: initial;
            }

            .owl-prev {
                right: 22px !important;

                span {
                    width: 0;
                    height: 0;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-right: 8px solid rgba(90, 90, 90, 1);
                }
            }
            .owl-next span {
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 8px solid rgba(90, 90, 90, 1);
            }
        }
    }
}

.product-page {
    .item-prod-new .info-prod {
        .name-prod {
            font-size: 8px !important;
            color: rgba(18, 61, 105, 1);
        }

        .price-prod {
            .price-cur {
                font-size: 14px !important;
            }

            .price-old {
                font-size: 13px;
            }

            sup {
                text-decoration: none;
            }
        }
    }

    .list-button-buy {
        .bk-btn-installment {
            background-color: rgb(217, 230, 241) !important;
            color: rgba(0, 128, 220, 1);
        }

        .bk-btn-installment-amigo {
            background-color: rgba(68, 183, 227, 0.17) !important;
            color: rgba(0, 128, 220, 1) !important;

            strong,
            span {
                color: #0080dc;
            }
        }

        .bk-btn-installment,
        .bk-btn-installment-amigo {
            &:hover {
                background-color: #123d69 !important;
                color: #fff !important;

                strong,
                span {
                    color: #fff;
                }
            }
        }
    }
}
