.padding-page {
  padding-bottom: 60px;
}

/* Collection page */

.y-breadcrumb {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 30px;
}

.y-breadcrumb ul,
.y-breadcrumb ol {
  margin-bottom: 0;
  padding-left: 0;
}

.y-breadcrumb li {
  display: inline;
}

.y-breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

.y-breadcrumb li a {
  color: #000;
  text-decoration: none;
}

.banner-collection {
  margin-bottom: 40px;
}

.title-collection {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 12px;
  margin-bottom: 40px;
}

.title-collection .title {
  font-size: 24px;
  font-weight: bold;
}

.title-collection .box-sort-product {
  text-align: right;
}

.title-collection .sort-product {
  width: max-content;
  margin-left: auto;
  border-radius: 0;
}

.y-breadcrumb li a:hover {
  color: #0186cf;
}

.aside-list .item {
  margin-bottom: 0.4rem;
}

.aside ul {
  /* list-style: none;
    padding-left: 0; */
}

.aside .item.active {
  font-weight: bold;
  color: #007bff;
}

.aside-block {
  background-color: #fff;
  /* box-shadow: 0 0 8px 4px rgba(0, 0, 0, .05); */
  border-radius: 0.25rem;
  margin-bottom: 24px;
  border: 1px solid #e5e5e5;
}

.aside-block ul {
  padding: 0 15px 15px;
  transition: all 0.1s !important;
}

.aside-block .title-main {
  position: relative;
  margin-bottom: 1.5rem;
}

.aside-block .list .item {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #e4e6e8;
}

.aside-block .list .link {
  color: #222426;
  font-size: 1rem;
}

.aside-block .list .link.active,
.aside-block .list .link:hover {
  color: #288ad6;
  font-family: "HelveticaNeue Bold";
}

@media screen and (min-width: 992px) {
  .aside-block .title-main {
    padding-bottom: 1rem;
  }
  .aside-block .title-main:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 0.125rem;
    width: 3.4375rem;
    background-color: #222426;
  }
}

.aside-title {
  font-size: 16px;
  font-weight: bold;
}

.aside-list {
  font-size: 0.875rem;
}

.aside-list .item {
  margin-bottom: 0.4rem;
}

.aside-list .item:last-child {
  margin-bottom: 0;
}

.aside-list .item a {
  color: #212223;
}

.aside-list .item label {
  margin-bottom: 0;
}

.aside .collapse-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #1e73ac;
  color: #fff;
  margin-bottom: 0.5rem;
  min-height: 2.5rem;
  text-align: left;
}

.aside .collapse-btn:after {
  content: "\f068";
  font-family: FontAwesome;
  height: 0.875rem;
  flex: 0 0 0.875rem;
  max-width: 0.875rem;
  justify-content: flex-end;
}

.aside .collapse-btn.collapsed {
  margin-bottom: -1px;
}

.aside .collapse-btn.collapsed:after {
  content: "\f067";
}

.checkbox {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: baseline;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked ~ .checkbox-text:before {
  background-color: #333;
  font-size: 0.75rem;
}

.checkbox-text {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.checkbox-text:before {
  content: "\f00c";
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-family: FontAwesome;
  height: 0.875rem;
  flex: 0 0 0.875rem;
  max-width: 0.875rem;
  margin-right: 0.5rem;
  border-radius: 2px;
  border: 2px solid #333;
  font-size: 0;
  transition: all 150ms;
  color: #fff;
}

.checkbox-button {
  display: block;
  width: 100%;
  margin-bottom: 0.7rem;
}

.checkbox-button:hover {
  cursor: pointer;
}

.checkbox-button .text {
  text-align: center;
  padding: 0.5rem 0.5rem;
  display: block;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #e4e6e8;
  background-color: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);
}

.list-collection .item-prod {
  margin-bottom: 34px;
}

.paginationk {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.paginationk.center {
  justify-content: center;
}

.paginationk.center .paginationk-list {
  justify-content: center;
}

.paginationk.right {
  justify-content: flex-end;
}

.paginationk.right .paginationk-list {
  justify-content: flex-end;
}

.paginationk.between {
  justify-content: center;
}

.paginationk.between .pages {
  display: flex;
  align-items: center;
}

.paginationk-list li {
  margin-right: 0.375rem;
}

.paginationk-list li:last-child {
  margin-right: 0;
}

.paginationk-list li a {
  display: flex;
  height: 2rem;
  width: 2rem;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  color: #222426;
  font-size: 0.875rem;
  line-height: 1;
}

.paginationk-list li:hover a,
.paginationk-list li:active a {
  border-color: #222426;
}

@media screen and (min-width: 576px) {
  .paginationk.between {
    justify-content: space-between;
  }
}

.paginationk-list {
  display: flex;
  flex-wrap: wrap;
}

.paginationk-list .item:not(:last-child) {
  margin-right: 0.375rem;
}

.paginationk-list .item:not(.dots) .link {
  display: flex;
  height: 2rem;
  width: 2rem;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  color: #222426;
  font-size: 0.875rem;
  line-height: 1;
}

.paginationk-list .item:not(.dots).active .link,
.paginationk-list .item:not(.dots):hover .link {
  border-color: #222426;
}

.paginationk-list .item.disabled {
  display: none;
}

.paginationk-list .item.disabled .link {
  cursor: default;
  pointer-events: none;
}

.paginationk-list .item.disabled:hover .link {
  color: #222;
  background-color: transparent;
}

.paginationk-list .item:first-child .link:before,
.paginationk-list .item:last-child .link:before {
  font-family: FontAwesome;
}

.paginationk-list .item:first-child .link:before {
  content: "\f0d9";
}

.paginationk-list .item:last-child .link {
  flex-direction: row-reverse;
}

.paginationk-list .item:last-child .link:before {
  content: "\f0da";
}

.paginationk .text {
  margin-bottom: 0.5rem;
  color: #888;
}

.paginationk .text strong {
  color: #222426;
}

.product-article {
  font-size: 0.875rem;
  max-height: 500px;
  overflow: hidden;
  position: relative;
  padding-top: 20px;
}

.product-article:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0, #fff 52.08%);
  height: 6.25rem;
  width: 100%;
}

.product-article.visibled {
  height: auto;
  max-height: unset !important;
}

.product-article.visibled .more,
.product-article.visibled:after {
  display: none;
}

.product-article {
  .more {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 6.25rem;
    width: 100%;
    padding-bottom: 10px;
    z-index: 1;

    button {
      position: relative;
      background-color: rgba(18, 61, 105, 1);

      &::after {
        position: absolute;
        content: "";
        bottom: -10px;
        margin: 0 auto;
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-top: 5px solid rgba(18, 61, 105, 1);
      }
    }
  }
}
.product-article .btn-cyan--trans {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn-cyan--trans {
  color: #288ad6;
  border-radius: 0.31rem;
  border: 1px solid;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 12.5rem;
  max-width: 100%;
  transition: all 250ms;
  background-color: #fff;
}

.product-option-m {
  padding: 20px 15px;
  background: #f8f8f8;
  margin-bottom: 28px;
}

.product-option-m .title-filter {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
  text-align: center;
}

.product-option-m .list {
  display: flex;
  align-items: center;
  overflow-x: auto;
  margin-bottom: 0.5rem;
  white-space: nowrap;
  font-size: 0.875rem;
  flex-wrap: wrap;
  justify-content: center;
}

.product-option-m .list .item:not(:last-child) {
  margin-right: 0.5rem;
}

.product-option-m .list.cate {
  margin-bottom: 1rem;
  color: #288ad6;
}

.product-option-m .list.cate a {
  color: #212223;
  font-weight: bold;
}

.product-option-m .list.cate .active a {
  color: #288ad6;
}

.product-option-m .list.cate .item:not(:last-child) {
  margin-right: 1rem;
}

.product-option-m .list .checkbox-text {
  padding: 0.25rem 0.5rem;
  border: 1px solid #222426;
  border-radius: 0.125rem;
  line-height: 1;
}

.product-option-m .list .checkbox-text:before {
  display: none;
}

.product-option-m .list .checkbox-input:checked ~ .checkbox-text {
  color: #fff;
  background-color: #222426;
}

.product-option-m .btn-black--trans {
  margin-top: 1rem;
}

.btn-black--trans {
  color: #121212;
  border-radius: 0.25rem;
  border: 1px solid;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 12.5rem;
  max-width: 100%;
  transition: all 250ms;
  background-color: transparent;
}

/* Blog page */

.list-blog .item-blog {
  margin-bottom: 30px;
}

.list-blog .paginationk.between .pages {
  margin: 0 auto;
}

/* Article page */

.article-content {
  margin-bottom: 40px;
}

.article-content hr {
  margin-top: 24px;
  margin-bottom: 24px;
}

.article-content .title-article {
  font-size: 24px;
}

.article-content .box-like-fb {
  text-align: right;
  margin-bottom: 40px;
}

.blog-other-section {
  background: #f8f8f8;
  padding: 50px 0;
}

.sidebar-article {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.sidebar-article .title-sidebar {
  background: #ff6d00;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  padding: 12px 10px;
  text-transform: uppercase;
}

.sidebar-article .content-sidebar {
  background: #f8f8f8;
  padding: 30px 30px 0;
}

/* Product page*/

.info-prod-detail {
  margin-bottom: 15px;
}

.info-prod-detail .name-prod {
  font-size: 24px;
  margin-bottom: 5px;
}

.info-prod-detail .info-prod .price-prod {
  font-size: 24px;
  margin-bottom: 15px;
}

.info-prod-detail .info-prod .price-cur {
  color: #ea0000;
  padding-bottom: 10px;
}

/* .info-prod-detail .info-config p {
  margin-bottom: 10px;
} */

.specification .title {
  font-weight: bold;
  font-size: 16px;
  background: #f8f8f8;
  border: 1px solid #e4e6e8;
  padding: 12px 10px;
  text-align: center;
}

.specification table {
  width: 100% !important;
}

.slider-prod-detail {
  margin-bottom: 20px;
}

.slider-prod-detail .y-thumb-slider {
  margin-top: 10px;
}

.slider-prod-detail .y-thumb-slider .item {
  border: 1px solid #f0f0f0;
}

.box-gift-prod {
  border: 1px solid #f0f0f0;
  padding: 10px;
  margin-bottom: 20px;
}

.box-gift-prod .title-gift {
  font-weight: bold;
  margin-bottom: 5px;
}

.list-gift .item-gift {
}

.box-gift-prod .item-gift:after {
  content: "";
  clear: both;
  display: block;
}

.box-gift-prod .item-gift .img-gift {
  width: 50px;
  float: left;
  margin-right: 10px;
}

.box-gift-prod .item-gift .name-gift {
  float: left;
  width: calc(100% - 60px);
  padding-top: 8px;
  font-weight: bold;
  font-size: 13px;
}

.property-list .checkbox-button {
  display: inline-block;
  width: max-content;
  position: relative;
  margin-bottom: 12px;
}

.property-list .checkbox-button input {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  display: block;
}

.property-list .checkbox-button:first-child {
  margin-right: 20px;
}

.property-list .checkbox-button {
  margin-right: 8px;
}

.property-list .checkbox-button .text {
  padding-left: 30px;
  padding-right: 16px;
}

.property-list .checkbox-button .text:before {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  content: "";
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #c4c6c8;
}

.property-list .checkbox-button input:checked ~ .text:before {
  background-color: #0186cf;
  /* background-color: #DD0000; */
}

.product-page .box-btn-buy {
  margin-bottom: 30px;
}

.box-btn-buy .box-btn-inline {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.box-btn-buy .box-btn-inline a,
.box-btn-buy .box-btn-inline button {
  width: calc(50% - 10px);
  margin-right: 5px;
  margin-left: 5px;
}

.btn-buy-prod {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 3.75rem;
  width: 100%;
  line-height: 1;
  margin-bottom: 0.5rem;
  background: #cb1c22;
  border-radius: 6px;
  margin-bottom: 10px;
  color: #fff;
  padding: 10px 8px;
  cursor: pointer;
}

.btn-buy-prod:hover,
.btn-buy-prod:focus {
  color: #fff;
}

.btn-buy-prod span:first-child {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}

.btn-buy-prod.purchase {
  background: #2886cf;
  width: 50%;
  text-align: center;
}

.btn-cta-prod {
  background-color: #00b140;
}

.product-article-title {
  margin-bottom: 24px;
  color: #1e73ac;
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #1e73ac;
}

.product-page .product-article {
  max-height: 900px;
}

.content-sidebar-prod {
  /* background: #F8F8F8; */
  padding: 15px 10px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.content-sidebar-prod .box-btn-buy {
  margin-bottom: 0;
}

.content-sidebar-prod .box-checklist ul {
  list-style: none;
  padding-left: 0;
}

.content-sidebar-prod .box-checklist li {
  position: relative;
  padding-left: 22px;
  margin-bottom: 10px;
  letter-spacing: 0.6px;
}

.content-sidebar-prod .box-checklist li:before {
  position: absolute;
  top: -2px;
  left: 0;
  width: 14px;
  color: #0186cf;
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 16px;
}

.content-sidebar-prod .box-contact-prod li {
  margin-bottom: 10px;
  font-size: 13px;
}

.content-sidebar-prod .box-contact-prod a {
  color: initial;
}

.content-sidebar-prod .box-contact-prod i {
  color: #27ae60;
  margin-right: 5px;
  text-align: center;
  width: 16px;
  font-size: 16px;
}

.content-sidebar-prod .box-contact-prod img {
  margin-right: 5px;
  width: 20px;
}

.content-sidebar-prod .box-policy ul {
  padding-left: 0;
}

.content-sidebar-prod .box-policy ul li {
  margin-bottom: 8px;
  list-style: none;
}

.content-sidebar-prod .box-policy ul li img {
  width: 20px;
  margin-right: 5px;
}

.box-comment-fb {
  margin-top: 40px;
}

.box-comment-fb .fb-comments {
  width: 100%;
}

/* About page */

.about-page .commit-section {
  background-color: transparent;
}

.about-page .commit-section .item-commit {
  border-radius: 0;
}

.about-page .commit-section .title-commit {
  color: #212223;
  text-transform: initial;
}

.about-page .about-more-shop {
  margin-top: 30px;
}

/* Contact page */

.contact-page .info-contact .title-shop {
  color: #1e73ac;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-page .info-contact a {
  color: initial;
}

.contact-page .info-contact i {
  color: #1e73ac;
}

.map-contact iframe {
  width: 100%;
  height: 320px;
}

/* Cart page */

.cart-page {
  padding-top: 50px;
}

.cart-page .cart-content {
  box-shadow: 2px 2px 20px rgba(30, 115, 172, 0.1);
  border-radius: 6px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.cart-page .cart-content .img-prod .discount-prod {
  top: 10px;
  right: 8px;
}

.cart-page .cart-content .img-prod .installment-prod {
  right: 8px;
  top: 40px;
  bottom: initial;
  left: initial;
}

.cart-page .info-prod-detail .name-prod,
.cart-page .info-prod-detail .info-prod .price-prod {
  font-size: 16px;
  line-height: 1.4;
}

.cart-page .title-cart {
  color: #1e73ac;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.cart-page .item-prod-cart {
  border: 1px solid #f0f0f0;
  margin-bottom: 20px;
}

.cart-page .box-gift-prod {
  border: 0;
  padding-left: 0;
}

.cart-page .box-total-cart {
  font-weight: bold;
  background-color: #f5f4f4;
  padding: 18px 30px;
  margin-bottom: 20px;
}

.cart-page .form-checkout {
  max-width: 500px;
  margin: 0 auto 40px;
}

.cart-page .title-info-checkout {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

/* Success page */

.box-info-success {
  text-align: center;
  max-width: 370px;
  margin: 40px auto;
}

.box-info-success .title-success {
  font-size: 16px;
}

.box-info-success .icon-success {
  margin-bottom: 20px;
}

.box-info-success .icon-success i {
  font-size: 70px;
  color: #3fb846;
}

.box-info-success .btn-cyan--trans {
  width: 100%;
  margin-top: 16px;
}

/* Installment page */

.box-info-installment {
}

.box-info-installment table tr td:first-child {
  background: #f2f4f6;
}

.box-info-installment .logo-hd-saigon {
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;
}

.box-info-installment .total-installment {
  font-size: 16px;
}

.box-info-installment .purchase {
  margin: 24px auto 40px;
  max-width: 370px;
}

/* Checkbox icon check*/

.property-list .checkbox-button .text-check {
  display: inline-block;
  line-height: 1;
}

.property-list .checkbox-button .text-check:before {
  content: "\f00c";
  font-size: 8px;
  font-family: "FontAwesome";
  /*font-family: "Font Awesome 5 Free";*/
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  padding: 1px;
  border-radius: 50%;
  border: 1px solid #c4c6c8;
  line-height: 1;
  color: transparent;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.property-list .checkbox-button .input:checked ~ .text-check:before {
  color: #fff;
  background-color: #3fb846;
}

/* Installment success */

.detail-installment {
  border: 1px solid #e4e6e8;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px 20px 20px 30px;
  text-align: left;
  list-style: disc;
}

.specification .product-article {
  max-height: 450px;
}

/* radio button, checkbox */

.lz-radio input[type="radio"] {
  display: none;
}

.lz-radio input[type="radio"] + label .icon-radio {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: -2px 5px 0 0;
  vertical-align: middle;
  background: #fff;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 50%;
  background: #fff;
}

.lz-radio input[type="radio"]:checked + label .icon-radio {
  background: #21a655;
}

.method-checkout .title-method {
  background: #000;
  color: #fff;
  margin: 0;
  font-size: 14px;
  padding: 10px 20px;
}

.method-checkout .form-method {
  border: 1px solid #ddd;
}

.method-checkout .info-payment {
  padding: 10px 15px;
}

.method-checkout .info-payment label {
  cursor: pointer;
}

.method-checkout .info-payment .method-cod {
  margin-bottom: 12px;
}

.method-checkout .lz-radio .img-method {
  width: 28px;
  display: inline-block;
}

.method-checkout .box-credit-cart {
  /* display: none; */
  display: block;
  font-size: 14px;
}

/* .method-checkout .box-credit-cart.active {
  display: block;
} */

.method-checkout .box-credit-cart .title-credit {
  margin-bottom: 5px;
  font-size: 16px;
}

.method-checkout .box-credit-cart .lz-radio {
  position: relative;
  padding-left: 15px;
}

.method-checkout .box-credit-cart .lz-radio label span {
  position: absolute;
  top: 6px;
}

.method-checkout .box-credit-cart .info-account {
  padding-left: 20px;
}

.method-checkout .box-credit-cart .info-account p {
  margin-bottom: 5px;
  line-height: 1.3;
}

/* Product property detail */

.prod-detail-property {
  margin-bottom: 15px;
}

.prod-detail-property .text-property {
  margin-bottom: 7px;
}

.prod-detail-property .list-property {
  padding-left: 0;
}

.prod-detail-property .list-property li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 8px;
}

.prod-detail-property .list-property li a {
  position: relative;
  display: block;
  padding: 0px 12px 0 0;
  text-decoration: none;
  color: #000;
  border: 1px solid #e6e6e6;
  min-width: 32px;
  min-height: 32px;
}

.prod-detail-property .list-property li a.active {
  border: 1px solid #d13c2c;
}

.prod-detail-property .list-property li a.active:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
}

.prod-detail-property .list-property li a.active .img-check {
  display: block;
}

.prod-detail-property .list-property li a .icon-product {
  width: 30px;
  max-height: 30px;
}

.prod-detail-property .list-property li a .img-check {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 14px;
  height: 14px;
  display: none;
}

.prod-detail-property .list-property li a .input-color {
  display: none;
}

.prod-detail-property .list-property.list-size li a {
  padding: 5px 13px;
}

.prod-detail-property .list-property .price-variant {
  color: #fe302e;
  font-weight: bold;
}

/* .prod-detail-property .list-variant {
  display: flex;
  flex-wrap: wrap;
} */

.list-variant .item-variant {
  margin-bottom: 10px;
}

.list-variant .item-variant .checkbox {
  /* border: 1px solid #000;
  padding: 10px 5px;
  border-radius: 5px;
  justify-content: center;
  margin-bottom: 10px; */
}

/* .list-variant .item-variant .checkbox.active {
  opacity: 0.8;
  border: 1px solid #DD0000;
} */

.list-variant .item-variant .title-variant {
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

.item-variant .checkbox .text-variant {
  padding-left: 5px;
  font-weight: bold;
  font-size: 13px;
  width: 120px;
  text-align: center;
}

/* .item-variant .checkbox .icon-check {
  opacity: 0;
}

.item-variant .checkbox.active .icon-check {
  opacity: 1;
} */

.item-variant .checkbox .input {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  display: block;
}

.checkbox .text-variant .radio {
  display: inline-block;
  line-height: 1;
  font-size: 12px;
}

.checkbox .text-variant {
  padding: 10px 5px;
  border: 1px solid #000;
  border-radius: 5px;
  justify-content: center;
  margin-bottom: 10px;
}

.checkbox .input:checked ~ .text-variant {
  border: 1px solid #dd0000;
}

.checkbox .text-variant .radio:before {
  content: "\f00c";
  font: 0.5rem FontAwesome;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 0.875rem;
  width: 0.875rem;
  border-radius: 50%;
  border: 1px solid #c4c6c8;
  line-height: 1;
  color: transparent;
  margin-right: 3px;
  vertical-align: middle;
  margin-bottom: 2px;
}

.checkbox .input:checked ~ .text-variant .radio:before {
  color: #fff;
  background-color: #3fb846;
}

.prod-detail-property .list-variant li {
  margin-bottom: 10px;
  width: calc(50% - 5px);
}

.prod-detail-property .list-variant li:nth-child(2n + 2) {
  margin-right: 0;
}

.prod-detail-property .list-variant li a {
  padding: 5px;
}

.prod-detail-property .list-variant li h2 {
  font-size: 14px;
  font-weight: normal;
}

.prod-detail-property .list-variant li a.active {
  background-color: rgba(255, 0, 0, 0.1);
}

.prod-detail-property .list-variant li a .text-variant {
  line-height: 1.3;
  margin-bottom: 5px;
}

/* Rating section */

.box-product-rating {
  padding: 20px 0;
  align-items: center;
}

.box-product-rating .rating-medium {
  text-align: center;
}

.box-product-rating .rating-medium .score-rating {
  margin: 10px 0 0;
  text-align: center;
  font-size: 47px;
  color: #fe302e;
  font-weight: 500;
  line-height: 1.3;
}

@media (max-width: 767px) {
  .box-product-rating .rating-medium .score-rating {
    font-size: 40px;
  }
}

.box-product-rating .rating-medium .quantity-comment {
  font-size: 14px;
  color: #8f8f8f;
}

.box-product-rating .progress-rating {
  max-width: 500px;
  margin-left: 0;
  margin-right: auto;
}

.box-product-rating .progress-rating .item-progress {
  margin-bottom: 10px;
  text-align: left;
}

.box-product-rating .progress-rating .item-progress .rating-num {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  width: 41px;
  line-height: 15px;
  vertical-align: middle;
  position: relative;
}

.box-product-rating .progress-rating .item-progress .box-progress {
  display: inline-block;
  width: calc(100% - 90px);
  vertical-align: middle;
}

.box-product-rating .progress-rating .item-progress .box-progress .progress {
  height: 8px;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .box-product-rating .progress-rating .item-progress .box-progress .progress {
    height: 8px;
  }
}

.box-product-rating .progress-rating .item-progress .box-progress .progress-bar {
  background: #23b445;
}

.box-product-rating .progress-rating .item-progress .rating-num-total {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  margin-left: 12px;
  color: #787878;
  line-height: 15px;
  vertical-align: middle;
}

.box-product-rating .btn-action-rating {
  text-align: center;
}

.box-product-rating .btn-action-rating .title-small {
  margin-bottom: 10px;
}

.btn-review {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  background: #ffc120;
  border: 0;
  border-radius: 5px;
  color: #333;
  max-width: 229px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 0 20px;
}

.btn-review:hover {
  text-decoration: none;
  color: #000;
}

.btn-review.btn-white {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.box-write-review {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px auto;
  display: none;
}

.box-write-review .title-form {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.box-write-review .form-review {
  background-color: #f3f3f3;
  padding: 20px;
}

.box-comment-rating .item-review-product {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .box-comment-rating .item-review-product {
    flex-wrap: wrap;
  }
}

.box-comment-rating .item-review-product .box-profile-review {
  width: 150px;
  vertical-align: top;
}

@media (max-width: 767px) {
  .box-comment-rating .item-review-product .box-profile-review {
    display: flex;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .box-comment-rating .item-review-product .box-profile-review .profile-comment {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
  }
  .box-comment-rating .item-review-product .box-profile-review .profile-comment .name {
    display: inline-block;
  }
}

.box-comment-rating .item-review-product .box-profile-review .profile-comment .avatar {
  width: 65px;
  height: 65px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .box-comment-rating .item-review-product .box-profile-review .profile-comment .avatar {
    width: 30px;
    height: 30px;
  }
}

.box-comment-rating .item-review-product .box-profile-review .profile-comment .name {
  font-size: 14px;
  margin: 15px 0 5px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
}

@media (max-width: 767px) {
  .box-comment-rating .item-review-product .box-profile-review .profile-comment .name {
    width: calc(100% - 40px);
    margin: 0 0 0 5px;
    font-size: 13px;
    text-align: left;
  }
}

.box-comment-rating .item-review-product .box-profile-review .days-review {
  display: block;
  font-size: 12px;
  color: #999;
  margin: 0;
  text-align: center;
}

@media (max-width: 767px) {
  .box-comment-rating .item-review-product .box-profile-review .days-review {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.box-comment-rating .item-review-product .content-comment {
  vertical-align: top;
  padding-left: 0px;
}

@media (min-width: 768px) {
  .box-comment-rating .item-review-product .content-comment {
    width: calc(100% - 150px);
    padding-left: 20px;
  }
}

.box-comment-rating .item-review-product .content-comment .rating-container .star i {
  font-size: 15px;
}

@media (max-width: 767px) {
  .box-comment-rating .item-review-product .content-comment .rating-container .star i {
    font-size: 13px;
  }
}

.box-comment-rating .item-review-product .content-comment .y-box-rating {
  display: flex;
  align-items: center;
}

.box-comment-rating .item-review-product .content-comment .y-box-rating .rating {
  margin-right: 5px;
}

.box-comment-rating .item-review-product .content-comment .y-box-rating .title-comment {
  font-weight: 500;
}

@media (max-width: 767px) {
  .box-comment-rating .item-review-product .content-comment .y-box-rating .title-comment {
    font-size: 14px;
  }
}

.box-comment-rating .item-review-product .content-comment .buy-already {
  color: #23b445;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .box-comment-rating .item-review-product .content-comment .buy-already {
    font-size: 13px;
  }
}

.box-comment-rating .item-review-product .content-comment .desc-comment p {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .box-comment-rating .item-review-product .content-comment .desc-comment {
    font-size: 12px;
  }
}

.box-comment-rating .item-review-product .content-comment .quick-reply {
  display: none;
  padding: 10px 0;
}

.box-comment-rating .item-review-product .content-comment .quick-reply .btn-review {
  width: max-content;
  height: 30px;
  line-height: 30px;
}

.box-comment-rating .item-review-product .replies {
  margin-top: 10px;
}

@media (max-width: 767px) {
  .box-comment-rating .item-review-product .replies {
    padding-left: 10px;
  }
}

.box-comment-rating .item-review-product .replies .replies-item {
  margin-bottom: 10px;
  display: flex;
  width: 100%;
}

.box-comment-rating .item-review-product .replies .replies-item:last-child {
  margin-bottom: 0;
}

.box-comment-rating .item-review-product .replies .replies-item .replies-image {
  display: flex;
  align-items: flex-start;
  width: 40px;
  overflow: hidden;
  margin-bottom: 0;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .box-comment-rating .item-review-product .replies .replies-item .replies-image {
    width: 22px;
  }
}

.box-comment-rating .item-review-product .replies .replies-item .replies-text {
  width: calc(100% - 44px);
  padding-left: 10px;
  font-size: 13px;
  color: #4f4f4f;
  line-height: 18px;
}

@media (max-width: 767px) {
  .box-comment-rating .item-review-product .replies .replies-item .replies-text {
    width: calc(100% - 30px);
    padding-left: 5px;
  }
}

.box-comment-rating .item-review-product .replies .replies-item .replies-text .replies-name {
  font-weight: 500;
}

@media (max-width: 767px) {
  .box-comment-rating .item-review-product .replies .replies-item .replies-text .replies-name {
    font-size: 12px;
  }
}

/*=======================================================================*/

/*=======================================================================*/

/*=======================================================================*/

@media (min-width: 768px) {
  .footer .footer-title i {
    display: none;
  }
}

@media (min-width: 992px) {
  .product-option-m {
    display: none;
  }
}

@media (max-width: 991px) {
  .y-breadcrumb {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .contact-page .info-contact {
    margin-bottom: 30px;
  }
  .contact-page .map-contact {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .banner-collection {
    margin-bottom: 0;
  }
  .item-blog .info-blog {
    padding: 15px 10px;
  }
  .sidebar-article {
    margin-bottom: 20px;
  }
  .sidebar-article .content-sidebar {
    padding: 30px 15px 0;
  }
  .blog-other-section {
    padding: 30px 0;
  }
  .item-blog-inline .info-blog {
    padding: 10px 10px 0;
  }
  .item-blog-inline .info-blog .btn-viewdetail {
    display: none;
  }
  .item-blog-inline .title-blog h3 {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .title-collection .sort-product {
    margin-left: 0;
  }
  .property-list .title-checkbox-button {
    display: block;
    margin-bottom: 5px;
  }
}

.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.faq-section {
  margin-top: 0px;
  margin-bottom: 15px;
}

.faq-section h3 {
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 30x;
}

.faq-section .list-question .item-faq {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.faq-section .list-question .item-faq:last-child {
  border-bottom: none;
}

.faq-section .list-question .item-faq .col-left {
  display: inline-block;
  float: left;
  width: 100px;
  text-align: center;
}

.faq-section .list-question .item-faq .col-left span {
  font-size: 25px;
}

.faq-section .list-question .item-faq .col-right {
  display: inline-block;
  float: left;
  width: calc(100% - 100px);
}

.faq-section .list-question .item-faq .col-right .title {
  margin-bottom: 10px;
}

.faq-section .list-question .item-faq .col-right .answer,
.faq-section .list-question .item-faq .col-right .author {
  margin-bottom: 5px;
}

.faq-section .list-question .item-faq .col-right .item-anser {
  margin-bottom: 15px;
}

.faq-section .list-question .item-faq .col-right .author {
  font-size: 12px;
  font-weight: 100;
}

.faq-section .list-question .item-faq .col-right .reply {
  font-size: 13px;
}

.faq-section .list-question .item-faq .col-right .reply span:first-child {
  margin-right: 20px;
  display: inline-block;
}

.faq-section .list-question .item-faq .col-right .reply span {
  cursor: pointer;
}

.faq-section .list-question .item-faq .col-right .reply span i {
  margin-right: 3px;
}

.faq-section .viewmore-faq {
  cursor: pointer;
  padding-left: 100px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.faq-section .viewmore-faq a {
  color: #007bff;
}

@media (max-width: 767px) {
  .faq-section .create-question .box-right {
    margin-top: 10px;
  }
}

.faq-section .create-question input {
  width: calc(100% - 110px);
  float: left;
  height: 40px;
  border-radius: 5px;
  box-shadow: none;
  outline: 0;
  border: none;
  padding-left: 10px;
}

.faq-section .create-question textarea {
  border: none;
}
.faq-section .create-question button {
  width: 120px;
  float: right;
}

.faq-section .reply-question {
  margin-top: 20px;
  display: none;
}

.faq-section .reply-question textarea {
  width: 100%;
  border-radius: 5px;
  box-shadow: none;
  outline: 0;
  border: 1px solid #ddd;
  padding-left: 10px;
  margin-bottom: 10px;
}

.faq-section .reply-question button {
  width: 100px;
}

.text-feedback {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-brand-collection {
  list-style-type: none;
  margin: 20px 0 40px;
}

.list-brand-collection li {
  display: inline-block;
  width: 25%;
}

.list-brand-collection li a {
  display: inline-block;
}

.list-brand-collection li img {
  max-width: 110px;
  max-height: 60px;
}

.list-brand-collection li.active a {
  border-bottom: 3px solid #dd0000;
  padding-bottom: 5px;
}

.list-need-collection {
  list-style-type: none;
  margin: 20px 0 40px;
}

.list-need-collection li {
  display: inline-block;
  width: 25%;
}

.list-need-collection li a {
  display: inline-block;
  border: 1px solid #ddd;
  padding: 10px 15px;
  color: #212223;
}

.list-need-collection li.active a {
  border: 2px solid #dd0000;
}

.product-section-slider .owl-nav .owl-next,
.product-section-slider .owl-nav .owl-prev {
  display: flex;
}

.product-page {
  .btn-cyan--trans {
    width: 9rem;
    height: 1.5rem;
  }

  .item-prod-new {
    .icon-new {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      font-size: 8px;
      padding: 0 8px 8px 0;
      z-index: 2;

      span {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(117, 117, 117, 1);
        color: #fff;
        padding: 3px 5px 3px 5px;

        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 28px;
          width: 0;
          height: 0;
          border-top: 0px solid transparent;
          border-bottom: 13px solid transparent;
          border-left: 4px solid rgba(117, 117, 117, 1);
        }

        &::before {
          position: absolute;
          content: "";
          top: 12px;
          left: 0;
          width: 0;
          height: 0;
          border-left: 0px solid transparent;
          border-right: 27px solid transparent;
          border-top: 4px solid rgba(117, 117, 117, 1);
        }
      }
    }
  }
}
