.rating-value {
    border: 1px solid #eaeaea;
    padding: 5px;
    border-radius: 2px;
    margin-right: 15px;
    color: #404d53;
    height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qa-rating {
    padding-left: 5px;
}

.colorandpic {
    display: block;
    position: relative;
    padding: 0 24px;
    margin: 15px 0 0 0;
}

.colorandpic ul {
    display: block;
    overflow: visible;
    margin: auto;
    text-align: center;
    max-height: 98px;
}

.colorandpic li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    overflow: hidden;
    font-size: 11px;
    color: #333;
    padding-bottom: 5px;
    line-height: normal;
    width: 80px;
    margin: 3px;
}

.colorandpic li div {
    display: block;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    padding: 6px;
    background: #fff;
    margin-bottom: 5px;
    cursor: pointer;
}

.colorandpic li img {
    display: block;
    /* width: 40px; */
    height: 40px;
    object-fit: contain;
    margin: auto;
    border-radius: 4px;
    margin-top: 6px;
}

[class^="iconlaptop-"] {
    background-image: url("../images/icon-desktop.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
}

[class^="icondetail-"] {
    background-image: url("../images/icon-desktop-2.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
}

.icondetail-tskt {
    background-position: -137px -68px;
    width: 18px;
    height: 18px;
    display: block;
    margin: 0 auto;
}

.colorandpic li.tskt div {
    line-height: normal !important;
    font-size: 14px;
    color: #288ad6;
    border: 0;
}

.iconlaptop-video {
    background-position: -325px -50px;
    width: 30px;
    height: 24px;
    display: block;
    margin: 11px auto;
}

.iconlaptop-box {
    background-position: -215px -50px;
    width: 30px;
    height: 30px;
    display: block;
    margin: 8px auto;
}

.info-prod .price-prod-custom {
    background-image: url("../images/priceBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px 10px;
}

.info-prod .price-name {
    font-size: 14px;
    color: #33302a;
    margin-right: 5px;
}

.info-prod .discount-price {
    background-color: #03234b;
    padding: 3px 5px;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 14px;
    border-radius: 5px;
    width: 45px;
    height: 21px;
    margin: 0 5px;
    margin-left: 2px;
}

.info-prod .price-vat {
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 10px;
}

.info-prod .price-stocking {
    font-size: 17px;
    color: #459b43;
}

.mb-20 {
    margin-bottom: 20px;
}

.info-prod select {
    height: 37px;
    width: 80%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../images/icons/chevron-down.png") 97%;
    background-repeat: no-repeat;
    padding-left: 15px;
    border: 1px solid #202020;
    border-radius: 3px;
    display: none;
}

.select {
    width: 100% !important;
    border-radius: 0px;
    position: relative;
    border: 2px solid #e8e8e8;
}

.select:hover {
    border: 2px solid #0099e0;
}

.select-styled {
    padding: 10px;
    background: url("../images/icons/chevron-down.png") 97%;
    background-repeat: no-repeat;
    height: 37px;
}

.select-options {
    display: none;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgb(68 68 68 / 11%);
    box-sizing: border-box;
    margin-top: 4px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9;
}

.select-options li {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: 0;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.select-options li:hover,
.select-options li:focus {
    background-color: #f6f6f6;
}

.box-item-description {
    border: unset;
    list-style: disc;
    cursor: pointer;
}

.box-item-description ul {
    height: 109px;
    overflow: hidden;
}

.box-item-description .box-item-custom {
    list-style: inside;
    line-height: 25px;
}

.btn-custom-style {
    border: 1px solid #910202;
    color: #910202 !important;
    background: transparent !important;
}

.btn-custom-style-2 {
    border: 1px solid #256da5;
    color: #256da5 !important;
    background: transparent !important;
}

.content-sidebar-prod {
    margin-top: 0;
    padding: 5px;
    /* border: unset; */
}

.box-policy .title-policy {
    margin-top: 0;
    background: #233b76;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
}

.title-sidebar-prod {
    font-size: 1rem;
    color: #333333;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 15px;
}

.content-sidebar-prod .box-policy ul li {
    font-size: 12px;
}

.list-icon {
    margin-bottom: 20px;
    margin-top: 0;
}

.sidebar-article {
    margin-bottom: 20px;
}

.box-gift-prod {
    background: #fff;
    border: 1px solid #e1e1e1;
}

.list-gift {
    margin-top: 10px;
}

.list-gift .item-gift {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.list-gift .item-gift .img-gift {
    color: #33b530;
}

.box-gift-prod .item-gift .img-gift {
    width: auto;
}

.gift-prod-tag {
    max-width: 160px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: 500;
    background-color: #f1f1f1;
    border: 1px solid #e1e1e1;
    margin-bottom: -15px;
    margin-left: 10px;
}

.gift-prod-tag i {
    color: #212529;
    font-size: 100%;
}

.gift-prod-tag .text-km {
    color: #212529;
    font-weight: bold;
    /* text-transform: uppercase; */
    margin-left: 10px;
    font-size: 100%;
}

.box-gift-prod {
    border-radius: 0 0 4px 4px;
    background: #fff;
    border: 1px solid #e1e1e1;
}

.box-gift-prod .item-gift .name-gift {
    color: #444b52;
    font-weight: normal;
    padding: 0;
    font-size: 100%;
}

.content {
    /* padding: 10px; */
    background: #fff;
}

.content div img {
    max-width: 70px;
}

.prod-name {
    color: #33302a;
    font-size: 18px;
}

.main-price {
    font-size: 30px;
    color: #cb1c22;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 20px;
}

.btn-add-cart {
    font-size: 24px;
    border-radius: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
    background: #cb1c22;
    width: 234px;
    margin-left: 10px;
}

.nav-toc-product li a:first-child {
    border: unset;
    background-color: #f8f8f8;
    color: #333333;
    text-transform: uppercase;
    position: relative;
}

.nav-toc-product li a:hover {
    color: #555 !important;
}

.nav-toc-product li a.active::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #123d69;
}

.nav-toc-product li a.active:hover {
    color: #03234b !important;
}

.y-box-reating {
    display: flex;
    align-items: center;
}

.y-box-reating .rating {
    margin-right: 5px;
}

.line {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 15px;
    /* padding-bottom: 15px; */
}

.y-breadcrumb {
    padding: 0;
}

.owl-prev i,
.owl-next i {
    color: #e1e1e1;
}

.pl-0 {
    padding-left: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.header-fix {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    display: block !important;
}

.y-box-rating .viewmore-rating,
.y-box-rating .qa-rating {
    font-size: 14px;
}

.table-bordered td,
.table-bordered th {
    border: unset;
}

.table td,
.table th {
    border: unset;
    font-weight: normal;
}

.list-icon .item {
    width: 15%;
}

.content-sidebar-prod-custom {
    padding: 15px 10px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 30px;
}

.sidebar-article-custom {
    border-radius: 8px;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
}

.spacing-sidebar {
    padding: 0 5px 0 0 !important;
}

.rating .rating-container .star {
    margin: 0;
}

.rating .rating-container .star i {
    font-size: 20px;
}

.rating .rating-container .star i::before {
    content: "\2605" !important;
}

.rating.without-caption .empty-stars {
    color: #c8cbcc;
}

.btn-buy-prod {
    padding: 10px 5px;
}

.btn-buy-prod span:first-child {
    font-size: 16px;
}

.btn-buy-prod-custom span:first-child {
    font-size: 20px;
}

.pl-10 {
    padding-left: 10px !important;
}

.header-fix .content,
.header-fix .nav-toc-product {
    width: 100% !important;
}

.nav-toc-product-desktop li:not(:last-child) {
    border-right: 4px solid #fff;
    border-right-width: 2px;
}

.product-article-title {
    color: #333333;
    font-size: 1.75rem;
    font-weight: normal;
}

.btn-custom-width {
    padding-top: 5px;
    height: 60px;
    padding-bottom: 5px;
}

.info-prod-detail .info-config p {
    text-transform: uppercase;
}

.specification .title {
    text-align: left;
}

.box-cta-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    z-index: 10;
}

.box-cta-mobile .box-price,
.box-cta-mobile .box-btn-add-cart {
    width: 50%;
    text-align: center;
    background: #f1f1f1;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 3px;
}

.box-cta-mobile .box-price {
    font-weight: bold;
}

.box-cta-mobile .box-btn-add-cart {
    background: #cb1c22;
    color: #fff;
}

.cta-fixed-mobile {
    bottom: 60px;
}

@media (min-width: 1600px) {
    .content,
    .nav-toc-product {
        width: 930px !important;
    }
    .info-prod .price-prod .price-old {
        font-size: 16px;
    }
    .info-prod .price-vat {
        font-size: 15px;
    }
    .container {
        max-width: 1440px !important;
    }
    .info-prod-detail .info-prod .price-cur {
        font-size: 36px;
    }
}

@media (min-width: 1400px) {
    .info-prod .discount-price {
        margin: 0 15px;
    }
}

@media (max-width: 1599px) and (min-width: 1400px) {
    .content,
    .nav-toc-product {
        width: 850px !important;
    }
    .info-prod .price-prod .price-old {
        font-size: 15px;
    }
    .info-prod-detail .info-prod .price-cur {
        font-size: 30px;
    }
}

@media (max-width: 1399px) and (min-width: 1200px) {
    .content,
    .nav-toc-product {
        width: 730px !important;
    }
    .nav-toc-product li a:first-child {
        font-size: 12px;
    }
    .header-fix .nav-toc-product li a:first-child {
        font-size: 15px;
    }
}

@media (max-width: 1199px) {
    .item-custom-width {
        height: 40px;
    }
}

@media (min-width: 992px) {
    .rs-padding-desktop {
        padding: 0 !important;
    }
    .custom-h-box {
        height: 96px;
    }
}

@media (max-width: 776px) {
    .item-custom-width {
        height: 43px;
    }
    .custom-h-box {
        height: 77px;
    }
    .custom-h-box .text-tskt {
        font-size: 12px;
    }
    .y-box-rating {
        flex-direction: unset;
        align-items: center !important;
    }
    .y-breadcrumb {
        padding: 0 15px;
    }
}

@media (max-width: 540px) {
    .colorandpic li {
        width: 70px;
    }
    .y-box-rating .viewmore-rating,
    .y-box-rating .qa-rating {
        font-size: 14px;
    }
    .colorandpic li.tskt div {
        font-size: 11px;
    }
    .nav-toc-product-desktop li {
        width: 50%;
    }
    .header-fix {
        position: relative;
    }
    .rs-padding-desktop {
        padding: 0 15px;
    }
    .pl-0 {
        padding-left: 15px !important;
    }
    .pr-0 {
        padding-right: 15px !important;
    }
    .info-prod .price-stocking {
        font-size: 16px;
    }
    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next {
        font-size: 25px;
        width: 25px;
        height: 25px;
    }
    .btn-add-cart {
        font-size: 18px;
    }
    .main-price {
        font-size: 25px;
    }
    .prod-name {
        font-size: 15px;
    }
    .box-cta-mobile {
        display: inline-flex;
    }
    .header-fix .content {
        display: none;
    }
    .content {
        display: none;
    }
    .nav-toc-product li a:first-child {
        font-size: 12px;
    }
    .info-prod .price-vat {
        font-size: 12px;
    }
    .info-prod-detail .info-prod .price-prod {
        font-size: 20px;
    }
    .info-prod .discount-price {
        margin: 0 5px;
    }
}

@media (max-width: 320px) {
    .main-price {
        font-size: 20px;
    }
    .prod-name {
        font-size: 14px;
    }
}

/* Css update 8/1/2024 */
.list-button-buy {
    margin-top: 1.1rem;
}
