@import "./variable.scss";

.hot-product {
    .box-product-section {
        background-color: transparent;
        padding: 0;
        margin: 30px 0;

        .box-title {
            position: relative;
            font-family: SFProDisplay;
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            &::after {
                position: absolute;
                content: "";
                left: 0;
                right: 0;
                top: 100%;
                width: calc(100% - 30px);
                height: 1.5px;
                background-color: rgba(0, 0, 0, 0.7);
                margin: 0 auto;

                @include Responsive(MD) {
                    top: 44px;
                }
            }

            .box-left {
                display: flex;
                align-items: center;
            }

            h2 {
                font-size: 26px;
                font-weight: 700;
                display: inline-block;
                background-color: #123d69;
                margin: 0;
                padding: 10px 90px 10px 27px;
                color: #fff;
                position: relative;
                @include Responsive(MD) {
                    font-size: 20px;
                    padding: 10px 60px 10px 22px;
                }

                span.triangle {
                    font-size: 16px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    border-left: 14px solid transparent;
                    border-right: 0px solid transparent;
                    border-top: 52px solid #fff;
                    display: inline-block;

                    @include Responsive(MD) {
                        border-top: 44px solid #fff;
                    }
                }
            }

            img {
                margin: 0 3px 0 10px;
            }

            .box-right {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                row-gap: 10px;
                column-gap: 20px;
                text-align: right;

                @include Responsive(SM) {
                    justify-content: flex-start;
                    margin-top: 15px;
                    text-align: left;
                }

                .load-collection-child {
                    display: inline-block;
                    color: #515151;
                    font-size: 1rem;
                    font-weight: 700;
                }

                .link-view-all {
                    display: inline-block;
                    color: #0059b3;
                    font-family: SFProDisplay;
                    font-weight: 400;
                }
            }
        }
    }

    .product-section {
        .box-content {
            display: flex;
            flex-wrap: nowrap;
            column-gap: 30px;

            @include Responsive(LG) {
                // overflow-x: auto;
            }
            @include Responsive(SM) {
                // overflow-x: auto;
            }

            .item {
                width: 20%;
                padding-bottom: 5px;
                // min-width: 225px;
                @include Responsive(LG) {
                    width: initial;
                    min-width: initial;
                }
            }
        }

        .item-prod-new {
            padding-top: 15px;
            padding-bottom: 15px;

            .info-prod {
                padding-top: 0;

                .wrap-icon-ban-chay {
                    position: relative;
                    top: initial;
                    right: initial;
                    margin: 10px 0;
                }

                .price-prod {
                    text-align: left;
                    height: initial;

                    .price-cur {
                        display: block;
                        margin-bottom: 10px;
                        font-size: 18px;
                    }

                    .price-old {
                    }
                }

                .config-prod {
                    row-gap: 4px;
                    padding: 5px 10px;

                    .item-config {
                        margin-bottom: 0;
                        color: #6d6e72;
                    }
                }

                .y-box-rating {
                    @include Responsive(SM) {
                        flex-direction: row;
                    }

                    .viewmore-rating {
                        color: #6d6e72;
                        font-weight: 300;
                    }

                    img {
                        width: 12px;
                    }
                }
            }
        }
    }
}
