$color: #fff;
$color_red: #c42525;
$color_blue: #123d69;
$color_blue_2: #0186cf;

// Media queries Config
$XS: 575px;
$SM: 767px;
$MD: 991px;
$LG: 1190px;
$X14: 1480px;
$XL: 1700px;
$XXX: 2560px;

@mixin Responsive($canvas) {
    @if $canvas == XS {
        @media only screen and (max-width: $XS) {
            @content;
        }
    } @else if $canvas == SM {
        @media only screen and (max-width: $SM) {
            @content;
        }
    } @else if $canvas == MD {
        @media only screen and (max-width: $MD) {
            @content;
        }
    } @else if $canvas == LG {
        @media only screen and (max-width: $LG) {
            @content;
        }
    } @else if $canvas == X14 {
        @media only screen and (max-width: $X14) {
            @content;
        }
    } @else if $canvas == XL {
        @media only screen and (max-width: $XL) {
            @content;
        }
    } @else if $canvas == XXX {
        @media only screen and (max-width: $XXX) {
            @content;
        }
    }
}
